Repository titaneric/vector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spencergilbert, @vectordotdev/core-team, @vectordotdev/processing-team, @vectordotdev/integrations-team, @StephenWakely, @neuronull, @davidhuie-dd

docs(axiom sink): Use autogenerated docs (#16351)
  src/sinks/axiom.rs
  website/cue/reference/components/sinks/axiom.cue
  website/cue/reference/components/sinks/base/axiom.cue
Owners: @spencergilbert

docs(loki sink): Polish docs and examples (#16350)
  src/sinks/loki/config.rs
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/loki.cue
Owners: @spencergilbert

docs(honeycomb sink): Use autogenerated docs (#16352)
  src/sinks/honeycomb.rs
  website/cue/reference/components/sinks/base/honeycomb.cue
  website/cue/reference/components/sinks/honeycomb.cue
Owners: @spencergilbert

docs(gcp_pubsub sink): Use generated docs for configuration (#16301)
  src/sinks/gcp/pubsub.rs
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/gcp_pubsub.cue
Owners: @StephenWakely

docs(gcp_stackdriver_logs sink): Use generated docs for configuration (#16302)
  src/sinks/gcp/stackdriver_logs.rs
  website/cue/reference/components/sinks/base/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/gcp_stackdriver_logs.cue
Owners: @StephenWakely

docs(gcp_cloud_storage sink): Use generated docs for configuration (#16303)
  src/gcp.rs
  src/sinks/gcp/cloud_storage.rs
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_logs.cue
  website/cue/reference/components/sinks/base/gcp_stackdriver_metrics.cue
  website/cue/reference/components/sinks/gcp_cloud_storage.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
Owners: @StephenWakely

chore(ci): Remove another reference to the debug build (#16362)
  .github/workflows/publish.yml
Owners: none

chore(aws provider): Switch to native-tls (#16335)
  Cargo.lock
  Cargo.toml
  website/content/en/highlights/2023-02-28-0-28-0-upgrade-guide.md
Owners: none

feat(new sink): Initial `datadog_events` sink (#7678)
  .github/semantic.yml
Owners: none

chore(ci): Run workflows that have required checks on the merge queue (#16370)
  .github/workflows/regression.yml
  .github/workflows/test.yml
Owners: none

chore(config): fix schema generation handling of base vs override metadata (#16366)
  lib/vector-common/src/datetime.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config/src/external/indexmap.rs
  lib/vector-config/src/external/no_proxy.rs
  lib/vector-config/src/metadata.rs
  lib/vector-config/src/schema.rs
  lib/vector-config/src/stdlib.rs
  lib/vector-config/tests/integration/smoke.rs
  scripts/generate-component-docs.rb
  src/sinks/util/buffer/compression.rs
  website/cue/reference/components/sinks/base/influxdb_metrics.cue
  website/cue/reference/components/sinks/base/prometheus_exporter.cue
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
Owners: @vectordotdev/core-team, @vectordotdev/integrations-team

docs(file sink): Use generated documentation (#16357)
  src/sinks/file/mod.rs
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/file.cue
Owners: @spencergilbert

fix(kinesis): add again missing partition key (#16286)
  src/sinks/aws_kinesis/streams/config.rs
  src/sinks/aws_kinesis/streams/integration_tests.rs
Owners: @spencergilbert

fix(ci): temporarily disable new aws integration test that is failing (#16372)
  src/sinks/aws_kinesis/streams/integration_tests.rs
Owners: @spencergilbert

docs(redis sink): Use generated docs for configuration (#16330)
  src/sinks/redis.rs
  website/content/en/highlights/2023-02-28-0-28-0-upgrade-guide.md
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/redis.cue
Owners: @StephenWakely

chore(ci): Remove another debug build reference (#16375)
  scripts/release-s3.sh
Owners: none

docs(prometheus_exporter sink): Use generated docs for configuration (#16323)
  src/sinks/prometheus/exporter.rs
  website/cue/reference/components/sinks/base/prometheus_exporter.cue
  website/cue/reference/components/sinks/prometheus_exporter.cue
Owners: @StephenWakely

docs(pulsar sink): autogen docs (#16318)
  src/sinks/pulsar.rs
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sinks/pulsar.cue
Owners: @davidhuie-dd

chore(external docs): Add note about trace events to concepts page (#16315)
  website/content/en/docs/about/concepts.md
Owners: none

docs(prometheus_remote_write sink): Use generated docs for configuration (#16325)
  src/sinks/prometheus/remote_write.rs
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
  website/cue/reference/components/sinks/prometheus_remote_write.cue
Owners: @StephenWakely

docs(splunk_hec_logs sink): Use generated docs for configuration (#16334)
  src/sinks/splunk_hec/logs/config.rs
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/splunk_hec_logs.cue
Owners: @StephenWakely

docs(splunk_hec_metrics sink): Use generated docs for configuration (#16336)
  src/sinks/splunk_hec/common/acknowledgements.rs
  src/sinks/splunk_hec/metrics/config.rs
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/splunk_hec_metrics.cue
  website/cue/reference/components/sinks/splunk_hec.cue
  website/cue/reference/components/sinks/splunk_hec_metrics.cue
Owners: @StephenWakely

fix(test_util): drop no-op track_caller annotations (#16379)
  src/test_util/components.rs
Owners: @vectordotdev/core-team

chore(vrl): Remove deprecated metadata functions (#14821)
  lib/vector-vrl-functions/src/get_metadata_field.rs
  lib/vector-vrl-functions/src/lib.rs
  lib/vector-vrl-functions/src/set_metadata_field.rs
  lib/vrl/compiler/src/compiler.rs
  lib/vrl/tests/src/docs.rs
  lib/vrl/tests/tests/diagnostics/deprecations/get_metadata_field.vrl
  lib/vrl/tests/tests/diagnostics/deprecations/get_metadata_field_legacy.vrl
  lib/vrl/tests/tests/diagnostics/deprecations/remove_metadata_field.vrl
  lib/vrl/tests/tests/diagnostics/deprecations/remove_metadata_field_legacy.vrl
  lib/vrl/tests/tests/diagnostics/deprecations/set_metadata_field.vrl
  lib/vrl/tests/tests/diagnostics/deprecations/set_metadata_field_legacy.vrl
  lib/vrl/tests/tests/functions/remove_metadata_read_only.vrl
  lib/vrl/tests/tests/functions/set_metadata_read_only.vrl
  tests/behavior/transforms/remap.toml
  website/content/en/highlights/2023-02-28-0-28-0-upgrade-guide.md
  website/cue/reference/remap/expressions/path.cue
  website/cue/reference/remap/functions/get_metadata_field.cue
  website/cue/reference/remap/functions/remove_metadata_field.cue
  website/cue/reference/remap/functions/set_metadata_field.cue
Owners: @vectordotdev/processing-team

docs(new_relic sink): autogen docs (#16377)
  src/sinks/new_relic/config.rs
  website/content/en/docs/reference/configuration/sinks/new_relic.md
  website/content/en/docs/reference/configuration/sinks/new_relic_logs.md
  website/cue/reference/components/sinks/base/new_relic.cue
  website/cue/reference/components/sinks/new_relic.cue
  website/cue/reference/components/sinks/new_relic_logs.cue
  website/cue/reference/services/new_relic_logs.cue
Owners: @davidhuie-dd

docs: Build rust-doc.vector.dev (#16386)
  Cargo.toml
  rust-doc/Makefile
  rust-doc/netlify.toml
  scripts/environment/install-protoc.sh
  src/lib.rs
Owners: none

docs(azure_blob sink): autogen docs (#16378)
  src/sinks/azure_blob/config.rs
  src/sinks/azure_blob/integration_tests.rs
  src/sinks/azure_blob/test.rs
  website/cue/reference/components/sinks/azure_blob.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
Owners: @davidhuie-dd

docs: Setup a redirect from `rust-doc.vector.dev/` to `rust-doc.vector.dev/vector` (#16392)
  rust-doc/netlify.toml
Owners: none

chore(deps): Update aws-sdks to 0.23 and aws supporting crates to 0.53 (#16365)
  Cargo.lock
  Cargo.toml
  scripts/integration/aws/compose.yaml
  src/aws/auth.rs
  src/aws/mod.rs
  src/aws/region.rs
  src/common/s3.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_logs/request.rs
  src/sinks/aws_cloudwatch_logs/retry.rs
  src/sinks/aws_kinesis/firehose/config.rs
  src/sinks/aws_kinesis/firehose/integration_tests.rs
  src/sinks/aws_kinesis/streams/config.rs
  src/sinks/aws_s3/integration_tests.rs
  src/sinks/aws_sqs/integration_tests.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/prometheus/remote_write.rs
  src/sinks/s3_common/config.rs
  src/sources/aws_sqs/integration_tests.rs
  src/sources/aws_sqs/source.rs
Owners: @spencergilbert, @StephenWakely, @vectordotdev/integrations-team

docs(splunk_hec source): add info about endpoints (#16313)
  website/cue/reference/components/sources/splunk_hec.cue
Owners: none

chore: Update install.sh from rustup script (#16398)
  distribution/install.sh
Owners: none

chore(config): apply the field-level defaults to all ARC settings (#16388)
  src/sinks/util/adaptive_concurrency/mod.rs
Owners: @vectordotdev/integrations-team

.github/CODEOWNERS:

lib/file-source/ @spencergilbert
lib/k8s-e2e-tests/ @spencergilbert
lib/k8s-test-framework/ @spencergilbert
lib/opentelemetry-proto/ @spencergilbert
lib/vector-common/ @vectordotdev/core-team
lib/vector-config/ @vectordotdev/core-team
lib/vector-config-common/ @vectordotdev/core-team
lib/vector-config-macros/ @vectordotdev/core-team
lib/vector-core/ @vectordotdev/core-team
lib/vector-vrl-functions/ @vectordotdev/processing-team
lib/vrl/ @vectordotdev/processing-team
src/config/ @vectordotdev/core-team
src/internal_telemetry/ @vectordotdev/core-team
src/sinks/ @vectordotdev/integrations-team
src/sinks/amqp/ @StephenWakely
src/sinks/apex/ @neuronull
src/sinks/aws_cloudwatch_logs/ @spencergilbert
src/sinks/aws_cloudwatch_metrics/ @spencergilbert
src/sinks/aws_kinesis/ @spencergilbert # sink_aws_kinesis_firehose,sink_aws_kinesis_stream
src/sinks/aws_s3/ @spencergilbert
src/sinks/aws_sqs/ @spencergilbert
src/sinks/axiom.rs @spencergilbert
src/sinks/azure_blob/ @davidhuie-dd
src/sinks/azure_monitor_logs.rs @davidhuie-dd
src/sinks/blackhole/ @davidhuie-dd
src/sinks/clickhouse/ @davidhuie-dd
src/sinks/console/ @davidhuie-dd
src/sinks/datadog_archives.rs @neuronull
src/sinks/datadog_events/ @neuronull
src/sinks/datadog_logs/ @neuronull
src/sinks/datadog_metrics/ @neuronull
src/sinks/datadog_traces/ @neuronull
src/sinks/elasticsearch/ @spencergilbert
src/sinks/file/ @spencergilbert
src/sinks/gcp/ @StephenWakely # sink_gcp_chronicle_unstructured,sink_gcp_cloud_storage,sink_gcp_pubsub,sink_gcp_stackdriver_logs,sink_gcp_stackdriver_metrics
src/sinks/honeycomb.rs @spencergilbert
src/sinks/http.rs @neuronull
src/sinks/humio/ @StephenWakely # sink_humio_logs,sink_humio_metrics
src/sinks/influxdb/ @davidhuie-dd # sink_influxdb_logs,sink_influxdb_metrics
src/sinks/kafka/ @davidhuie-dd
src/sinks/logdna.rs @neuronull
src/sinks/loki/ @spencergilbert
src/sinks/nats.rs @StephenWakely
src/sinks/new_relic/ @davidhuie-dd # sink_newrelix,sink_newrelic_logs
src/sinks/papertrail.rs @StephenWakely
src/sinks/prometheus/ @StephenWakely # sink_prometheus_exporter,sink_prometheus_remote_write
src/sinks/pulsar.rs @davidhuie-dd
src/sinks/redis.rs @StephenWakely
src/sinks/sematext/ @spencergilbert # sink_sematext_logs,sink_sematext_metrics
src/sinks/socket.rs @neuronull
src/sinks/splunk_hec/ @StephenWakely # sink_splunk_hec_logs,sink_splunk_hec_metrics
src/sinks/statsd.rs @neuronull
src/sinks/vector/ @neuronull
src/sinks/websocket/ @neuronull
src/source_sender/ @vectordotdev/core-team
src/sources/ @vectordotdev/integrations-team
src/sources/amqp.rs @StephenWakely
src/sources/apache_metrics/ @davidhuie-dd
src/sources/aws_ecs_metrics/ @spencergilbert
src/sources/aws_kinesis_firehose/ @spencergilbert
src/sources/aws_s3/ @spencergilbert
src/sources/aws_sqs/ @spencergilbert
src/sources/datadog_agent/ @neuronull
src/sources/demo_logs.rs @StephenWakely
src/sources/dnstap/ @StephenWakely
src/sources/docker_logs/ @spencergilbert
src/sources/eventstoredb_metrics/ @davidhuie-dd
src/sources/exec/ @davidhuie-dd
src/sources/file.rs @spencergilbert
src/sources/file_descriptors/ @davidhuie-dd # source_file_descriptor,source_stdin
src/sources/fluent/ @neuronull
src/sources/gcp_pubsub.rs @StephenWakely
src/sources/heroku_logs.rs @spencergilbert
src/sources/host_metrics/ @davidhuie-dd
src/sources/http_client/ @neuronull
src/sources/http_server.rs @neuronull
src/sources/internal_logs.rs @neuronull
src/sources/internal_metrics.rs @neuronull
src/sources/journald.rs @spencergilbert
src/sources/kafka.rs @davidhuie-dd
src/sources/kubernetes_logs/ @spencergilbert
src/sources/logstash.rs @neuronull
src/sources/mongodb_metrics/ @davidhuie-dd
src/sources/nats.rs @StephenWakely
src/sources/nginx_metrics/ @davidhuie-dd
src/sources/opentelemetry/ @spencergilbert
src/sources/postgresql_metrics.rs @davidhuie-dd
src/sources/prometheus/ @StephenWakely # source_prometheus_remote_write,source_prometheus_scrape
src/sources/redis/ @StephenWakely
src/sources/socket/ @neuronull
src/sources/splunk_hec/ @StephenWakely
src/sources/statsd/ @neuronull
src/sources/syslog.rs @StephenWakely
src/sources/vector/ @neuronull
src/test_util/ @vectordotdev/core-team
src/topology/ @vectordotdev/core-team
src/transforms/ @vectordotdev/processing-team
