Repository titaneric/vector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vectordotdev/ux-team, @vectordotdev/vector, @vectordotdev/documentation

feat(enrichment_tables): add support for custom MMDB types (#20054)
  Cargo.toml
  benches/enrichment_tables.rs
  changelog.d/20054_custom_mmdb_types.feature.md
  src/enrichment_tables/geoip.rs
  src/enrichment_tables/mmdb.rs
  src/enrichment_tables/mod.rs
  tests/data/custom-type.mmdb
  website/cue/reference/configuration.cue
  website/cue/reference/remap/functions.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

fix(docs): Use correct how_it_works section for Vector sink (#20095)
  website/cue/reference/components/sinks/vector.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore: remove repetitive words (#20091)
  lib/k8s-e2e-tests/src/lib.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/vector-buffers/examples/buffer_perf.rs
  lib/vector-buffers/src/lib.rs
  rfcs/2020-03-06-1999-api-extensions-for-lua-transform.md
  src/transforms/lua/v2/mod.rs
  website/cue/reference/components/transforms/base/lua.cue
  website/cue/reference/releases/0.31.0.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

fix(datadog_logs sink): relax required input semantic meanings (#20086)
  changelog.d/dd_logs_semantic_meaning.fix.md
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/logs/sink.rs
Owners: @vectordotdev/vector

enhancement(remap): do not filter out file contents from error logs (#20125)
  changelog.d/remove_remap_file_filter.enhancement.md
  src/transforms/remap.rs
Owners: @vectordotdev/vector

chore(testing): further adjustments to component validation framework (#20043)
  src/components/validation/resources/event.rs
  src/components/validation/resources/http.rs
  src/components/validation/runner/mod.rs
Owners: none

fix(datadog_agent source): bugs in internal component metric reporting (#20044)
  Cargo.toml
  changelog.d/datadog_agent_source_internal_metrics.fix.md
  src/internal_events/datadog_agent.rs
  src/internal_events/mod.rs
  src/sources/datadog_agent/logs.rs
  src/sources/datadog_agent/tests.rs
  tests/validation/components/sources/datadog_agent.yaml
Owners: @vectordotdev/vector

chore(deps): Bump VRL to v0.13.0 (#20126)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
Owners: none

chore(api): Move host_metrics feature gate (#20134)
  src/api/schema/metrics/mod.rs
  src/api/schema/mod.rs
Owners: none

docs(vrl): add documentation for `sieve` function (#20000)
  website/cue/reference/remap/functions/sieve.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(deps): Bump Rust to 1.77.0 (#20149)
  lib/vector-buffers/src/topology/channel/receiver.rs
  lib/vector-buffers/src/topology/test_util.rs
  lib/vector-stream/src/driver.rs
  rust-toolchain.toml
  src/sinks/aws_s3/integration_tests.rs
  src/sinks/azure_blob/integration_tests.rs
  src/sinks/datadog/metrics/request_builder.rs
  src/sinks/file/mod.rs
  src/sinks/util/service/health.rs
  src/sources/file_descriptors/mod.rs
  src/sources/http_client/client.rs
  src/sources/journald.rs
  src/sources/kafka.rs
  vdev/src/testing/integration.rs
Owners: @vectordotdev/vector

feat(vrl): add `uuid_v7` function (#20048)
  lib/vector-vrl/tests/src/docs.rs
  tests/behavior/transforms/remap.toml
  website/cue/reference/remap/functions/uuid_v7.cue
  website/cue/reference/urls.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

docs(vrl): Add documentation for parse_proto and encode_proto (#20139)
  .github/actions/spelling/patterns.txt
  lib/vector-vrl/tests/resources/protobuf_descriptor_set.desc
  scripts/check-style.sh
  website/cue/reference/remap/functions/encode_proto.cue
  website/cue/reference/remap/functions/parse_proto.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

feat(codecs): add options to `length_delimited` framing (#20154)
  changelog.d/20154_length_delimited_framing_options.feature.md
  lib/codecs/src/common/length_delimited.rs
  lib/codecs/src/common/mod.rs
  lib/codecs/src/decoding/framing/length_delimited.rs
  lib/codecs/src/decoding/mod.rs
  lib/codecs/src/encoding/framing/length_delimited.rs
  lib/codecs/src/encoding/mod.rs
  src/codecs/encoding/config.rs
  src/components/validation/resources/event.rs
  src/components/validation/resources/mod.rs
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/console.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/socket.cue
  website/cue/reference/components/sinks/base/webhdfs.cue
  website/cue/reference/components/sources/base/amqp.cue
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/demo_logs.cue
  website/cue/reference/components/sources/base/exec.cue
  website/cue/reference/components/sources/base/file_descriptor.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/base/nats.cue
  website/cue/reference/components/sources/base/pulsar.cue
  website/cue/reference/components/sources/base/redis.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/base/stdin.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(core): expose semantic meaning log event helper fn (#20178)
  lib/vector-core/src/event/log_event.rs
Owners: @vectordotdev/vector

chore(releasing): Prepare v0.37.0 release
  .github/actions/spelling/expect.txt
  changelog.d/18445_armv6_binaries.enhancement.md
  changelog.d/18863_k8s_logs_rotate_wait.enhancement.md
  changelog.d/19813_add_mqtt_sink.feature.md
  changelog.d/19891_s3_sink_add_express_onezone_storage_class.enhancement.md
  changelog.d/19892_dnstap_over_tcp.breaking.md
  changelog.d/19921_missing_dns_record_types.enhancement.md
  changelog.d/19937_edns_ede_support.feature.md
  changelog.d/20006_improve_greptimedb_tls.enhancement.md
  changelog.d/20032_gzip_zlib_performance.fix.md
  changelog.d/20035_dnstap_lowercase_hostnames.feature.md
  changelog.d/20051_permit_origin_tcp.feature.md
  changelog.d/20054_custom_mmdb_types.feature.md
  changelog.d/aws_credentials_process.fix.md
  changelog.d/clickhouse_acknowledgements.breaking.md
  changelog.d/datadog_agent_ddtags_parsing.enhancement.md
  changelog.d/datadog_agent_source_internal_metrics.fix.md
  changelog.d/dd_logs_semantic_meaning.fix.md
  changelog.d/deprecate_strict_env_vars.breaking.md
  changelog.d/elasticsearch_log.fix.md
  changelog.d/file_ignored_header_bytes_default.fix.md
  changelog.d/include_paths_glob_patterns.enhancement.md
  changelog.d/pulsar_source.feature.md
  changelog.d/remove_remap_file_filter.enhancement.md
  changelog.d/splunk_hec_logs_raw_timestamp.fix.md
  changelog.d/splunk_hec_received_event_bytes.fix.md
  distribution/install.sh
  website/content/en/highlights/2023-03-26-0-37-0-upgrade-guide.md
  website/content/en/releases/0.37.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.37.0.cue
  website/cue/reference/versions.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(docs): Remove package deprecation banner (#20181)
  website/config.toml
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(dev): Bump Vector to 0.38.0 (#20180)
  Cargo.lock
  Cargo.toml
Owners: none

chore(releasing): Bump Kubernetes manifsts to chart version 0.32.0 (#20182)
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Owners: none

fix(enrichment_tables): bring back support for `GeoLite2-City` db (#20192)
  changelog.d/20192_geoip_geolite_city_support.fix.md
  src/enrichment_tables/geoip.rs
Owners: none

chore(deps): Bump MSRV to reduce usage of `async_trait` (#20155)
  Cargo.lock
  Cargo.toml
  lib/vector-api-client/Cargo.toml
  lib/vector-api-client/src/gql/components.rs
  lib/vector-api-client/src/gql/health.rs
  lib/vector-api-client/src/gql/meta.rs
  lib/vector-api-client/src/lib.rs
  lib/vector-api-client/src/test/mod.rs
  lib/vector-buffers/src/lib.rs
  lib/vector-buffers/src/variants/disk_v2/io.rs
  lib/vector-buffers/src/variants/disk_v2/tests/mod.rs
  lib/vector-buffers/src/variants/disk_v2/tests/model/filesystem.rs
  lib/vector-core/src/sink.rs
  src/config/enrichment_table.rs
  src/config/provider.rs
  src/enrichment_tables/file.rs
  src/enrichment_tables/geoip.rs
  src/enrichment_tables/mmdb.rs
  src/lib.rs
  src/providers/http.rs
  src/sinks/aws_kinesis/firehose/record.rs
  src/sinks/aws_kinesis/record.rs
  src/sinks/aws_kinesis/streams/record.rs
  src/sinks/aws_s_s/client.rs
  src/sinks/aws_s_s/sns/client.rs
  src/sinks/aws_s_s/sqs/client.rs
  src/sinks/gcp/pubsub.rs
  src/sinks/influxdb/logs.rs
  src/sinks/mezmo.rs
  src/sinks/util/http.rs
  src/sources/util/http/prelude.rs
Owners: @vectordotdev/vector

chore(ci): peg `fakeintake` docker image (#20196)
  scripts/e2e/datadog-logs/compose.yaml
  scripts/e2e/datadog-metrics/compose.yaml
Owners: none

chore(ci): Drop `apt-get upgrade` (#20203)
  scripts/environment/bootstrap-ubuntu-20.04.sh
Owners: none

chore(ci): Remove pip install of modules (#20204)
  scripts/environment/bootstrap-ubuntu-20.04.sh
  scripts/environment/prepare.sh
Owners: none

chore(docs): note for 0.37 about incorrect ddtags parsing behavior (#20186)
  src/sources/datadog_agent/mod.rs
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/releases/0.37.0.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

docs(dnstap source, releasing): Add breaking change note for dnstap source mode (#20202)
  website/content/en/highlights/2023-03-26-0-37-0-upgrade-guide.md
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

fix(datadog_agent)!: align `ddtags` parsing with DD logs intake (#20184)
  changelog.d/dd_agent_parse_ddtags_format.breaking.md
  src/sources/datadog_agent/logs.rs
  src/sources/datadog_agent/mod.rs
  src/sources/datadog_agent/tests.rs
  website/cue/reference/components/sources/base/datadog_agent.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

chore(testing): support LogNamespace in Component Validation Framework (#20148)
  src/components/validation/mod.rs
  src/components/validation/resources/http.rs
  src/components/validation/resources/mod.rs
  src/components/validation/runner/config.rs
  src/components/validation/runner/mod.rs
  src/components/validation/validators/component_spec/mod.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/http/config.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sources/datadog_agent/tests.rs
  src/sources/http_client/tests.rs
  src/sources/http_server.rs
  src/sources/splunk_hec/mod.rs
  src/sources/vector/mod.rs
Owners: @vectordotdev/vector

chore(ci): Only use one label for selecting GHA runner (#20210)
  .github/workflows/compilation-timings.yml
  .github/workflows/e2e.yml
  .github/workflows/integration-comment.yml
  .github/workflows/integration-test.yml
  .github/workflows/integration.yml
  .github/workflows/k8s_e2e.yml
  .github/workflows/misc.yml
  .github/workflows/publish.yml
  .github/workflows/regression.yml
  .github/workflows/test.yml
  .github/workflows/unit_windows.yml
Owners: none

docs: fix type cardinality docs (#20209)
  src/transforms/tag_cardinality_limit/config.rs
  website/cue/reference/components/transforms/base/tag_cardinality_limit.cue
  website/cue/reference/components/transforms/tag_cardinality_limit.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

docs(kubernetes platform): fix example kustomization file (#20085)
  website/content/en/docs/setup/installation/platforms/kubernetes.md
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

fix(splunk_hec_logs sink): don't attempt to remove timestamp if auto extract is enabled (#20213)
  changelog.d/splunk_hec_logs_auto_extract_ts.fix.md
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/logs/tests.rs
Owners: @vectordotdev/vector

fix(datadog_logs sink): reconstruct `ddtags` if not already in format expected by DD logs intake (#20198)
  changelog.d/dd_logs_reconstruct_ddtags.fix.md
  lib/vector-core/src/schema/meaning.rs
  src/common/datadog.rs
  src/sinks/datadog/logs/sink.rs
  src/sources/datadog_agent/logs.rs
Owners: @vectordotdev/vector

chore(datadog_logs sink): properly encode all semantically defined DD reserved attributes (#20226)
  lib/vector-core/src/schema/meaning.rs
  scripts/integration/datadog-logs/test.yaml
  src/common/datadog.rs
  src/sinks/datadog/logs/sink.rs
  src/sources/datadog_agent/mod.rs
Owners: @vectordotdev/vector

feat(#19183): add namespace input to chronicle sink (#19398)
  changelog.d/19183_chronicle_namespace_support.enhancement.md
  src/sinks/gcp/chronicle_unstructured.rs
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

docs: Correct docker.md so the command can be executed (#20227)
  website/content/en/docs/setup/installation/platforms/docker.md
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

Use new VRL protobuf library to remove duplication in the protobuf codec (#20074)
  changelog.d/20074_protobuf_decoder.breaking.md
  lib/codecs/src/common/mod.rs
  lib/codecs/src/common/protobuf.rs
  lib/codecs/src/decoding/format/protobuf.rs
  lib/codecs/src/encoding/format/protobuf.rs
  lib/codecs/tests/data/protobuf/protos/test.desc
  lib/codecs/tests/data/protobuf/protos/test.proto
Owners: none

chore(splunk_hec_logs sink): support log namespaced host and timestamp attributes (#20211)
  src/sinks/humio/logs.rs
  src/sinks/humio/metrics.rs
  src/sinks/splunk_hec/common/util.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/integration_tests.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/logs/tests.rs
  src/sources/splunk_hec/mod.rs
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/humio_metrics.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

chore(deps): Update h2 (#20236)
  Cargo.lock
Owners: none

chore(datadog): make consts public (#20257)
  src/common/datadog.rs
Owners: none

.github/CODEOWNERS:

docs/ @vectordotdev/ux-team
lib/dnsmsg-parser/ @vectordotdev/vector
lib/file-source/ @vectordotdev/vector
lib/k8s-e2e-tests/ @vectordotdev/vector
lib/k8s-test-framework/ @vectordotdev/vector
lib/opentelemetry-proto/ @vectordotdev/vector
lib/vector-common/ @vectordotdev/vector
lib/vector-config/ @vectordotdev/vector
lib/vector-config-common/ @vectordotdev/vector
lib/vector-config-macros/ @vectordotdev/vector
lib/vector-core/ @vectordotdev/vector
lib/vector-vrl-functions/ @vectordotdev/vector
lib/vrl/ @vectordotdev/vector
src/config/ @vectordotdev/vector
src/internal_telemetry/ @vectordotdev/vector
src/sinks/ @vectordotdev/vector
src/sinks/amqp/ @vectordotdev/vector
src/sinks/appsignal/ @vectordotdev/vector
src/sinks/aws_cloudwatch_logs/ @vectordotdev/vector
src/sinks/aws_cloudwatch_metrics/ @vectordotdev/vector
src/sinks/aws_kinesis/ @vectordotdev/vector # sink_aws_kinesis_firehose,sink_aws_kinesis_stream
src/sinks/aws_s3/ @vectordotdev/vector
src/sinks/aws_sqs/ @vectordotdev/vector
src/sinks/axiom.rs @vectordotdev/vector
src/sinks/azure_blob/ @vectordotdev/vector
src/sinks/azure_monitor_logs.rs @vectordotdev/vector
src/sinks/blackhole/ @vectordotdev/vector
src/sinks/clickhouse/ @vectordotdev/vector
src/sinks/console/ @vectordotdev/vector
src/sinks/databend/ @vectordotdev/vector
src/sinks/datadog_events/ @vectordotdev/vector
src/sinks/datadog_logs/ @vectordotdev/vector
src/sinks/datadog_metrics/ @vectordotdev/vector
src/sinks/datadog_traces/ @vectordotdev/vector
src/sinks/elasticsearch/ @vectordotdev/vector
src/sinks/file/ @vectordotdev/vector
src/sinks/gcp/ @vectordotdev/vector # sink_gcp_chronicle_unstructured,sink_gcp_cloud_storage,sink_gcp_pubsub,sink_gcp_stackdriver_logs,sink_gcp_stackdriver_metrics
src/sinks/honeycomb.rs @vectordotdev/vector
src/sinks/http.rs @vectordotdev/vector
src/sinks/humio/ @vectordotdev/vector # sink_humio_logs,sink_humio_metrics
src/sinks/influxdb/ @vectordotdev/vector # sink_influxdb_logs,sink_influxdb_metrics
src/sinks/kafka/ @vectordotdev/vector
src/sinks/logdna.rs @vectordotdev/vector
src/sinks/loki/ @vectordotdev/vector
src/sinks/nats.rs @vectordotdev/vector
src/sinks/new_relic/ @vectordotdev/vector # sink_newrelix,sink_newrelic_logs
src/sinks/papertrail.rs @vectordotdev/vector
src/sinks/prometheus/ @vectordotdev/vector # sink_prometheus_exporter,sink_prometheus_remote_write
src/sinks/pulsar.rs @vectordotdev/vector
src/sinks/redis.rs @vectordotdev/vector
src/sinks/sematext/ @vectordotdev/vector # sink_sematext_logs,sink_sematext_metrics
src/sinks/socket.rs @vectordotdev/vector
src/sinks/splunk_hec/ @vectordotdev/vector # sink_splunk_hec_logs,sink_splunk_hec_metrics
src/sinks/statsd.rs @vectordotdev/vector
src/sinks/vector/ @vectordotdev/vector
src/sinks/websocket/ @vectordotdev/vector
src/source_sender/ @vectordotdev/vector
src/sources/ @vectordotdev/vector
src/sources/amqp.rs @vectordotdev/vector
src/sources/apache_metrics/ @vectordotdev/vector
src/sources/aws_ecs_metrics/ @vectordotdev/vector
src/sources/aws_kinesis_firehose/ @vectordotdev/vector
src/sources/aws_s3/ @vectordotdev/vector
src/sources/aws_sqs/ @vectordotdev/vector
src/sources/datadog_agent/ @vectordotdev/vector
src/sources/demo_logs.rs @vectordotdev/vector
src/sources/dnstap/ @vectordotdev/vector
src/sources/docker_logs/ @vectordotdev/vector
src/sources/eventstoredb_metrics/ @vectordotdev/vector
src/sources/exec/ @vectordotdev/vector
src/sources/file.rs @vectordotdev/vector
src/sources/file_descriptors/ @vectordotdev/vector # source_file_descriptor,source_stdin
src/sources/fluent/ @vectordotdev/vector
src/sources/gcp_pubsub.rs @vectordotdev/vector
src/sources/heroku_logs.rs @vectordotdev/vector
src/sources/host_metrics/ @vectordotdev/vector
src/sources/http_client/ @vectordotdev/vector
src/sources/http_server.rs @vectordotdev/vector
src/sources/internal_logs.rs @vectordotdev/vector
src/sources/internal_metrics.rs @vectordotdev/vector
src/sources/journald.rs @vectordotdev/vector
src/sources/kafka.rs @vectordotdev/vector
src/sources/kubernetes_logs/ @vectordotdev/vector
src/sources/logstash.rs @vectordotdev/vector
src/sources/mongodb_metrics/ @vectordotdev/vector
src/sources/nats.rs @vectordotdev/vector
src/sources/nginx_metrics/ @vectordotdev/vector
src/sources/opentelemetry/ @vectordotdev/vector
src/sources/postgresql_metrics.rs @vectordotdev/vector
src/sources/prometheus/ @vectordotdev/vector # source_prometheus_remote_write,source_prometheus_scrape
src/sources/redis/ @vectordotdev/vector
src/sources/socket/ @vectordotdev/vector
src/sources/splunk_hec/ @vectordotdev/vector
src/sources/statsd/ @vectordotdev/vector
src/sources/syslog.rs @vectordotdev/vector
src/sources/vector/ @vectordotdev/vector
src/test_util/ @vectordotdev/vector
src/topology/ @vectordotdev/vector
src/transforms/ @vectordotdev/vector
website/ @vectordotdev/ux-team @vectordotdev/documentation
