Repository titaneric/vector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spencergilbert, @vectordotdev/integrations-team, @vectordotdev/core-team, @vectordotdev/processing-team, @StephenWakely, @davidhuie-dd, @neuronull, @vectordotdev/ux-team

.github/CODEOWNERS:

lib/file-source/ @spencergilbert @vectordotdev/integrations-team
lib/k8s-e2e-tests/ @spencergilbert @vectordotdev/integrations-team
lib/k8s-test-framework/ @spencergilbert @vectordotdev/integrations-team
lib/opentelemetry-proto/ @spencergilbert @vectordotdev/integrations-team
lib/vector-common/ @vectordotdev/core-team
lib/vector-config/ @vectordotdev/core-team
lib/vector-config-common/ @vectordotdev/core-team
lib/vector-config-macros/ @vectordotdev/core-team
lib/vector-core/ @vectordotdev/core-team
lib/vector-vrl-functions/ @vectordotdev/processing-team
lib/vrl/ @vectordotdev/processing-team
src/config/ @vectordotdev/core-team
src/internal_telemetry/ @vectordotdev/core-team
src/sinks/ @vectordotdev/integrations-team
src/sinks/amqp/ @StephenWakely @vectordotdev/integrations-team
src/sinks/aws_cloudwatch_logs/ @spencergilbert @vectordotdev/integrations-team
src/sinks/aws_cloudwatch_metrics/ @spencergilbert @vectordotdev/integrations-team
src/sinks/aws_kinesis/ @spencergilbert @vectordotdev/integrations-team # sink_aws_kinesis_firehose,sink_aws_kinesis_stream
src/sinks/aws_s3/ @spencergilbert @vectordotdev/integrations-team
src/sinks/aws_sqs/ @spencergilbert @vectordotdev/integrations-team
src/sinks/axiom.rs @spencergilbert @vectordotdev/integrations-team
src/sinks/azure_blob/ @davidhuie-dd @vectordotdev/integrations-team
src/sinks/azure_monitor_logs.rs @davidhuie-dd @vectordotdev/integrations-team
src/sinks/blackhole/ @davidhuie-dd @vectordotdev/integrations-team
src/sinks/clickhouse/ @davidhuie-dd @vectordotdev/integrations-team
src/sinks/console/ @davidhuie-dd @vectordotdev/integrations-team
src/sinks/datadog_archives.rs @neuronull @vectordotdev/integrations-team
src/sinks/datadog_events/ @neuronull @vectordotdev/integrations-team
src/sinks/datadog_logs/ @neuronull @vectordotdev/integrations-team
src/sinks/datadog_metrics/ @neuronull @vectordotdev/integrations-team
src/sinks/datadog_traces/ @neuronull @vectordotdev/integrations-team
src/sinks/elasticsearch/ @spencergilbert @vectordotdev/integrations-team
src/sinks/file/ @spencergilbert @vectordotdev/integrations-team
src/sinks/gcp/ @StephenWakely @vectordotdev/integrations-team # sink_gcp_chronicle_unstructured,sink_gcp_cloud_storage,sink_gcp_pubsub,sink_gcp_stackdriver_logs,sink_gcp_stackdriver_metrics
src/sinks/honeycomb.rs @spencergilbert @vectordotdev/integrations-team
src/sinks/http.rs @neuronull @vectordotdev/integrations-team
src/sinks/humio/ @StephenWakely @vectordotdev/integrations-team # sink_humio_logs,sink_humio_metrics
src/sinks/influxdb/ @davidhuie-dd @vectordotdev/integrations-team # sink_influxdb_logs,sink_influxdb_metrics
src/sinks/kafka/ @davidhuie-dd @vectordotdev/integrations-team
src/sinks/logdna.rs @neuronull @vectordotdev/integrations-team
src/sinks/loki/ @spencergilbert @vectordotdev/integrations-team
src/sinks/nats.rs @StephenWakely @vectordotdev/integrations-team
src/sinks/new_relic/ @davidhuie-dd @vectordotdev/integrations-team # sink_newrelix,sink_newrelic_logs
src/sinks/papertrail.rs @StephenWakely @vectordotdev/integrations-team
src/sinks/prometheus/ @StephenWakely @vectordotdev/integrations-team # sink_prometheus_exporter,sink_prometheus_remote_write
src/sinks/pulsar.rs @davidhuie-dd @vectordotdev/integrations-team
src/sinks/redis.rs @StephenWakely @vectordotdev/integrations-team
src/sinks/sematext/ @spencergilbert @vectordotdev/integrations-team # sink_sematext_logs,sink_sematext_metrics
src/sinks/socket.rs @neuronull @vectordotdev/integrations-team
src/sinks/splunk_hec/ @StephenWakely @vectordotdev/integrations-team # sink_splunk_hec_logs,sink_splunk_hec_metrics
src/sinks/statsd.rs @neuronull @vectordotdev/integrations-team
src/sinks/vector/ @neuronull @vectordotdev/integrations-team
src/sinks/websocket/ @neuronull @vectordotdev/integrations-team
src/source_sender/ @vectordotdev/core-team
src/sources/ @vectordotdev/integrations-team
src/sources/amqp.rs @StephenWakely @vectordotdev/integrations-team
src/sources/apache_metrics/ @davidhuie-dd @vectordotdev/integrations-team
src/sources/aws_ecs_metrics/ @spencergilbert @vectordotdev/integrations-team
src/sources/aws_kinesis_firehose/ @spencergilbert @vectordotdev/integrations-team
src/sources/aws_s3/ @spencergilbert @vectordotdev/integrations-team
src/sources/aws_sqs/ @spencergilbert @vectordotdev/integrations-team
src/sources/datadog_agent/ @neuronull @vectordotdev/integrations-team
src/sources/demo_logs.rs @StephenWakely @vectordotdev/integrations-team
src/sources/dnstap/ @StephenWakely @vectordotdev/integrations-team
src/sources/docker_logs/ @spencergilbert @vectordotdev/integrations-team
src/sources/eventstoredb_metrics/ @davidhuie-dd @vectordotdev/integrations-team
src/sources/exec/ @davidhuie-dd @vectordotdev/integrations-team
src/sources/file.rs @spencergilbert @vectordotdev/integrations-team
src/sources/file_descriptors/ @davidhuie-dd @vectordotdev/integrations-team # source_file_descriptor,source_stdin
src/sources/fluent/ @neuronull @vectordotdev/integrations-team
src/sources/gcp_pubsub.rs @StephenWakely @vectordotdev/integrations-team
src/sources/heroku_logs.rs @spencergilbert @vectordotdev/integrations-team
src/sources/host_metrics/ @davidhuie-dd @vectordotdev/integrations-team
src/sources/http_client/ @neuronull @vectordotdev/integrations-team
src/sources/http_server.rs @neuronull @vectordotdev/integrations-team
src/sources/internal_logs.rs @neuronull @vectordotdev/integrations-team
src/sources/internal_metrics.rs @neuronull @vectordotdev/integrations-team
src/sources/journald.rs @spencergilbert @vectordotdev/integrations-team
src/sources/kafka.rs @davidhuie-dd @vectordotdev/integrations-team
src/sources/kubernetes_logs/ @spencergilbert @vectordotdev/integrations-team
src/sources/logstash.rs @neuronull @vectordotdev/integrations-team
src/sources/mongodb_metrics/ @davidhuie-dd @vectordotdev/integrations-team
src/sources/nats.rs @StephenWakely @vectordotdev/integrations-team
src/sources/nginx_metrics/ @davidhuie-dd @vectordotdev/integrations-team
src/sources/opentelemetry/ @spencergilbert @vectordotdev/integrations-team
src/sources/postgresql_metrics.rs @davidhuie-dd @vectordotdev/integrations-team
src/sources/prometheus/ @StephenWakely @vectordotdev/integrations-team # source_prometheus_remote_write,source_prometheus_scrape
src/sources/redis/ @StephenWakely @vectordotdev/integrations-team
src/sources/socket/ @neuronull @vectordotdev/integrations-team
src/sources/splunk_hec/ @StephenWakely @vectordotdev/integrations-team
src/sources/statsd/ @neuronull @vectordotdev/integrations-team
src/sources/syslog.rs @StephenWakely @vectordotdev/integrations-team
src/sources/vector/ @neuronull @vectordotdev/integrations-team
src/test_util/ @vectordotdev/core-team
src/topology/ @vectordotdev/core-team
src/transforms/ @vectordotdev/processing-team
website/cue @vectordotdev/ux-team

feat(axiom sink)!: Hardcode timestamp-field header to @timestamp (#16536)
  src/sinks/axiom.rs
  website/content/en/highlights/2023-02-28-0-28-0-upgrade-guide.md
Owners: @spencergilbert, @vectordotdev/integrations-team

feat(elasticsearch sink): Use log namespacing and semantic meaning (#16532)
  src/sinks/elasticsearch/config.rs
Owners: @spencergilbert, @vectordotdev/integrations-team

docs(splunk_hec_logs sink): correct storage for event token (#16520)
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
Owners: @vectordotdev/ux-team

chore: Fix typo in 0.28 upgrade guide (#16545)
  website/content/en/highlights/2023-02-28-0-28-0-upgrade-guide.md
Owners: none

chore(config): Move the `SchemaGenerator` into a `RefCell` (#16538)
  lib/vector-common/src/datetime.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config/src/configurable.rs
  lib/vector-config/src/external/chrono.rs
  lib/vector-config/src/external/encoding_rs.rs
  lib/vector-config/src/external/indexmap.rs
  lib/vector-config/src/external/no_proxy.rs
  lib/vector-config/src/external/serde_with.rs
  lib/vector-config/src/external/toml.rs
  lib/vector-config/src/external/tz.rs
  lib/vector-config/src/external/url.rs
  lib/vector-config/src/schema.rs
  lib/vector-config/src/ser.rs
  lib/vector-config/src/stdlib.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/service/concurrency.rs
Owners: @vectordotdev/core-team, @vectordotdev/integrations-team

fix(core): Fix `LogEvent::source_type_path` (#16541)
  lib/vector-core/src/event/log_event.rs
  src/sinks/datadog/events/sink.rs
Owners: @vectordotdev/core-team, @vectordotdev/integrations-team

docs(splunk_hec sink): generate component docs for splunk sink (#16547)
  src/sinks/splunk_hec/logs/config.rs
Owners: @StephenWakely, @vectordotdev/integrations-team

replace axiom docker containers with cloud dataset (#16546)
  .github/workflows/integration-test.yml
  scripts/integration/axiom/compose.yaml
  scripts/integration/axiom/test.yaml
  src/sinks/axiom.rs
  website/cue/reference/components/sinks/base/axiom.cue
Owners: @spencergilbert, @vectordotdev/integrations-team, @vectordotdev/ux-team

feat(kafka): add consumer_lag metrics to Kafka (#15106)
  src/internal_events/kafka.rs
  src/kafka.rs
  src/sinks/kafka/sink.rs
  src/sources/kafka.rs
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/internal_metrics.cue
  website/cue/reference/components/sources/kafka.cue
Owners: @davidhuie-dd, @vectordotdev/integrations-team, @vectordotdev/ux-team

chore(config): vendor `schemars` and slim it down (#16540)
  Cargo.lock
  lib/vector-common/src/datetime.rs
  lib/vector-config-common/Cargo.toml
  lib/vector-config-common/src/lib.rs
  lib/vector-config-common/src/schema_gen/LICENSE-schemars
  lib/vector-config-common/src/schema_gen/gen.rs
  lib/vector-config-common/src/schema_gen/mod.rs
  lib/vector-config-common/src/schema_gen/schema.rs
  lib/vector-config-common/src/schema_gen/visit.rs
  lib/vector-config-common/src/validation.rs
  lib/vector-config-macros/src/configurable.rs
  lib/vector-config/Cargo.toml
  lib/vector-config/src/configurable.rs
  lib/vector-config/src/external/chrono.rs
  lib/vector-config/src/external/encoding_rs.rs
  lib/vector-config/src/external/indexmap.rs
  lib/vector-config/src/external/no_proxy.rs
  lib/vector-config/src/external/serde_with.rs
  lib/vector-config/src/external/toml.rs
  lib/vector-config/src/external/tz.rs
  lib/vector-config/src/external/url.rs
  lib/vector-config/src/lib.rs
  lib/vector-config/src/num.rs
  lib/vector-config/src/schema.rs
  lib/vector-config/src/ser.rs
  lib/vector-config/src/stdlib.rs
  src/sinks/util/buffer/compression.rs
  src/sinks/util/service/concurrency.rs
Owners: @vectordotdev/core-team, @vectordotdev/integrations-team

feat(kafka sink): Use log namespacing and semantic meaning (#16537)
  src/sinks/kafka/config.rs
  src/sinks/kafka/request_builder.rs
  src/sinks/kafka/sink.rs
Owners: @davidhuie-dd, @vectordotdev/integrations-team

enhancement(datadog sinks): extract common config struct attributes to shared struct (#16280)
  src/common/datadog.rs
  src/config/enterprise.rs
  src/sinks/datadog/events/config.rs
  src/sinks/datadog/events/tests.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/logs/tests.rs
  src/sinks/datadog/metrics/config.rs
  src/sinks/datadog/metrics/integration_tests.rs
  src/sinks/datadog/mod.rs
  src/sinks/datadog/traces/config.rs
  website/content/en/highlights/2023-02-28-0-28-0-upgrade-guide.md
  website/cue/reference/components/sinks/base/datadog_events.cue
  website/cue/reference/components/sinks/base/datadog_logs.cue
  website/cue/reference/components/sinks/base/datadog_metrics.cue
  website/cue/reference/components/sinks/base/datadog_traces.cue
Owners: @vectordotdev/core-team, @vectordotdev/integrations-team, @vectordotdev/ux-team

chore: Include AXIOM_TOKEN in workflow env (#16552)
  .github/workflows/integration-test.yml
Owners: none

chore(releasing): Prepare v0.27.1 release
  distribution/install.sh
  website/content/en/releases/0.27.1.md
  website/cue/reference/releases/0.26.0.cue
  website/cue/reference/releases/0.27.0.cue
  website/cue/reference/releases/0.27.1.cue
  website/cue/reference/versions.cue
Owners: @vectordotdev/ux-team

chore(ci): Upgrade to cross 0.2.5 (#16527)
  scripts/cross/aarch64-unknown-linux-gnu.dockerfile
  scripts/cross/aarch64-unknown-linux-musl.dockerfile
  scripts/cross/armv7-unknown-linux-gnueabihf.dockerfile
  scripts/cross/armv7-unknown-linux-musleabihf.dockerfile
  scripts/cross/powerpc-unknown-linux-gnu.dockerfile
  scripts/cross/powerpc64le-unknown-linux-gnu.dockerfile
  scripts/cross/x86_64-unknown-linux-gnu.dockerfile
  scripts/cross/x86_64-unknown-linux-musl.dockerfile
  scripts/environment/prepare.sh
Owners: none

chore(config): Drop unused `ToValue` trait bound (#16554)
  lib/vector-config/src/schema.rs
Owners: @vectordotdev/core-team

chore: Drop `build-ci-docker-images` make rule (#16553)
  Makefile
Owners: none

fix(redis source): fix high cpu on redis intermittent connection issues (#16518)
  src/sources/redis/list.rs
Owners: @StephenWakely, @vectordotdev/integrations-team

chore(releasing): Add issue template for Vector minor releases (#16563)
  .github/ISSUE_TEMPLATE/minor-release.md
Owners: none

chore(releasing): Correct label in issue template (#16566)
  .github/ISSUE_TEMPLATE/minor-release.md
Owners: none

feat(new sink): Initial `databend` sink (#15898)
  .github/workflows/integration-test.yml
  Cargo.toml
  Makefile
  scripts/integration/databend/compose.yaml
  scripts/integration/databend/test.yaml
  src/sinks/databend/api.rs
  src/sinks/databend/config.rs
  src/sinks/databend/error.rs
  src/sinks/databend/integration_tests.rs
  src/sinks/databend/mod.rs
  src/sinks/databend/service.rs
  src/sinks/databend/sink.rs
  src/sinks/mod.rs
  tests/data/databend/miniodat/databend/.keep
  website/content/en/docs/reference/configuration/sinks/databend.md
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/databend.cue
  website/cue/reference/services/databend.cue
  website/cue/reference/urls.cue
  website/data/redirects.yaml
  website/static/img/logos/databend.svg
Owners: @vectordotdev/integrations-team, @vectordotdev/ux-team
