Repository titaneric/vector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vectordotdev/ux-team, @vectordotdev/vector, @vectordotdev/documentation

.github/CODEOWNERS:

docs/ @vectordotdev/ux-team
lib/dnsmsg-parser/ @vectordotdev/vector
lib/file-source/ @vectordotdev/vector
lib/k8s-e2e-tests/ @vectordotdev/vector
lib/k8s-test-framework/ @vectordotdev/vector
lib/opentelemetry-proto/ @vectordotdev/vector
lib/vector-common/ @vectordotdev/vector
lib/vector-config/ @vectordotdev/vector
lib/vector-config-common/ @vectordotdev/vector
lib/vector-config-macros/ @vectordotdev/vector
lib/vector-core/ @vectordotdev/vector
lib/vector-vrl-functions/ @vectordotdev/vector
lib/vrl/ @vectordotdev/vector
src/config/ @vectordotdev/vector
src/internal_telemetry/ @vectordotdev/vector
src/sinks/ @vectordotdev/vector
src/sinks/amqp/ @vectordotdev/vector
src/sinks/appsignal/ @vectordotdev/vector
src/sinks/aws_cloudwatch_logs/ @vectordotdev/vector
src/sinks/aws_cloudwatch_metrics/ @vectordotdev/vector
src/sinks/aws_kinesis/ @vectordotdev/vector # sink_aws_kinesis_firehose,sink_aws_kinesis_stream
src/sinks/aws_s3/ @vectordotdev/vector
src/sinks/aws_sqs/ @vectordotdev/vector
src/sinks/axiom.rs @vectordotdev/vector
src/sinks/azure_blob/ @vectordotdev/vector
src/sinks/azure_monitor_logs.rs @vectordotdev/vector
src/sinks/blackhole/ @vectordotdev/vector
src/sinks/clickhouse/ @vectordotdev/vector
src/sinks/console/ @vectordotdev/vector
src/sinks/databend/ @vectordotdev/vector
src/sinks/datadog_events/ @vectordotdev/vector
src/sinks/datadog_logs/ @vectordotdev/vector
src/sinks/datadog_metrics/ @vectordotdev/vector
src/sinks/datadog_traces/ @vectordotdev/vector
src/sinks/elasticsearch/ @vectordotdev/vector
src/sinks/file/ @vectordotdev/vector
src/sinks/gcp/ @vectordotdev/vector # sink_gcp_chronicle_unstructured,sink_gcp_cloud_storage,sink_gcp_pubsub,sink_gcp_stackdriver_logs,sink_gcp_stackdriver_metrics
src/sinks/honeycomb.rs @vectordotdev/vector
src/sinks/http.rs @vectordotdev/vector
src/sinks/humio/ @vectordotdev/vector # sink_humio_logs,sink_humio_metrics
src/sinks/influxdb/ @vectordotdev/vector # sink_influxdb_logs,sink_influxdb_metrics
src/sinks/kafka/ @vectordotdev/vector
src/sinks/logdna.rs @vectordotdev/vector
src/sinks/loki/ @vectordotdev/vector
src/sinks/nats.rs @vectordotdev/vector
src/sinks/new_relic/ @vectordotdev/vector # sink_newrelix,sink_newrelic_logs
src/sinks/papertrail.rs @vectordotdev/vector
src/sinks/prometheus/ @vectordotdev/vector # sink_prometheus_exporter,sink_prometheus_remote_write
src/sinks/pulsar.rs @vectordotdev/vector
src/sinks/redis.rs @vectordotdev/vector
src/sinks/sematext/ @vectordotdev/vector # sink_sematext_logs,sink_sematext_metrics
src/sinks/socket.rs @vectordotdev/vector
src/sinks/splunk_hec/ @vectordotdev/vector # sink_splunk_hec_logs,sink_splunk_hec_metrics
src/sinks/statsd.rs @vectordotdev/vector
src/sinks/vector/ @vectordotdev/vector
src/sinks/websocket/ @vectordotdev/vector
src/source_sender/ @vectordotdev/vector
src/sources/ @vectordotdev/vector
src/sources/amqp.rs @vectordotdev/vector
src/sources/apache_metrics/ @vectordotdev/vector
src/sources/aws_ecs_metrics/ @vectordotdev/vector
src/sources/aws_kinesis_firehose/ @vectordotdev/vector
src/sources/aws_s3/ @vectordotdev/vector
src/sources/aws_sqs/ @vectordotdev/vector
src/sources/datadog_agent/ @vectordotdev/vector
src/sources/demo_logs.rs @vectordotdev/vector
src/sources/dnstap/ @vectordotdev/vector
src/sources/docker_logs/ @vectordotdev/vector
src/sources/eventstoredb_metrics/ @vectordotdev/vector
src/sources/exec/ @vectordotdev/vector
src/sources/file.rs @vectordotdev/vector
src/sources/file_descriptors/ @vectordotdev/vector # source_file_descriptor,source_stdin
src/sources/fluent/ @vectordotdev/vector
src/sources/gcp_pubsub.rs @vectordotdev/vector
src/sources/heroku_logs.rs @vectordotdev/vector
src/sources/host_metrics/ @vectordotdev/vector
src/sources/http_client/ @vectordotdev/vector
src/sources/http_server.rs @vectordotdev/vector
src/sources/internal_logs.rs @vectordotdev/vector
src/sources/internal_metrics.rs @vectordotdev/vector
src/sources/journald.rs @vectordotdev/vector
src/sources/kafka.rs @vectordotdev/vector
src/sources/kubernetes_logs/ @vectordotdev/vector
src/sources/logstash.rs @vectordotdev/vector
src/sources/mongodb_metrics/ @vectordotdev/vector
src/sources/nats.rs @vectordotdev/vector
src/sources/nginx_metrics/ @vectordotdev/vector
src/sources/opentelemetry/ @vectordotdev/vector
src/sources/postgresql_metrics.rs @vectordotdev/vector
src/sources/prometheus/ @vectordotdev/vector # source_prometheus_remote_write,source_prometheus_scrape
src/sources/redis/ @vectordotdev/vector
src/sources/socket/ @vectordotdev/vector
src/sources/splunk_hec/ @vectordotdev/vector
src/sources/statsd/ @vectordotdev/vector
src/sources/syslog.rs @vectordotdev/vector
src/sources/vector/ @vectordotdev/vector
src/test_util/ @vectordotdev/vector
src/topology/ @vectordotdev/vector
src/transforms/ @vectordotdev/vector
website/ @vectordotdev/ux-team @vectordotdev/documentation

chore(ci): Bump timeouts for test-misc and integration tests (#20438)
  .github/workflows/integration.yml
  .github/workflows/misc.yml
Owners: none

chore(enterprise): Deprecate the `enterprise` feature (#20437)
  Cargo.lock
  changelog.d/20437-enterprise.deprecation.md
  docs/DEPRECATIONS.md
  src/app.rs
Owners: @vectordotdev/ux-team

chore(releasing): Prepare v0.38.0 release
  Cargo.lock
  Cargo.toml
  changelog.d/19183_chronicle_namespace_support.enhancement.md
  changelog.d/19686_element_size_histogram.enhancement.md
  changelog.d/19990_support_loading_secrets_from_aws_secrets_manager.feature.md
  changelog.d/20074_protobuf_decoder.breaking.md
  changelog.d/20154_length_delimited_framing_options.feature.md
  changelog.d/20172_max_number_of_messages.enhancement.md
  changelog.d/20214_amqp_expiration.enhancement.md
  changelog.d/20224_kafka_source_event_instrumentation.fix.md
  changelog.d/20228_fix-log-to-metric-set-supported.fix.md
  changelog.d/20244_change_inner_databend_client.enhancement.md
  changelog.d/20265-distroless-debian12.enhancement.md
  changelog.d/20281_chronicle_labels_support.enhancement.md
  changelog.d/20282_aws_access_key_id_and_assume_role_auth.fix.md
  changelog.d/20292_splunk_hec_add_message_semantic_meaning.fix.md
  changelog.d/20331_databend_config_ndjson.enhancement.md
  changelog.d/20335_added_support_for_insert_distributed_one_random_shard.feature.md
  changelog.d/20437-enterprise.deprecation.md
  changelog.d/dd_agent_parse_ddtags_format.breaking.md
  changelog.d/dd_logs_reconstruct_ddtags.fix.md
  changelog.d/elasticsearch_sink_document_versioning.feature.md
  changelog.d/prometheus_mixed_gauges.fix.md
  changelog.d/remove_strict_env_vars.breaking.md
  changelog.d/splunk_hec_logs_auto_extract_ts.fix.md
  distribution/install.sh
  website/content/en/highlights/2024-05-07-0-38-0-upgrade-guide.md
  website/content/en/releases/0.38.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.38.0.cue
  website/cue/reference/versions.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(docs): Fix link in release notes (#20454)
  website/content/en/highlights/2024-05-07-0-38-0-upgrade-guide.md
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(releasing): Regenerate manifests for chart v0.33.0 (#20453)
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Owners: none

chore(ci): Switch to Confluent docker images since wurstmeister ones disappeared (#20465)
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  scripts/integration/kafka/compose.yaml
  scripts/integration/kafka/test.yaml
  scripts/integration/shutdown/compose.yaml
  tests/data/ca/intermediate_server/private/kafka.pass
  tests/data/kafka_server_jaas.conf
Owners: none

chore(deps): Drop `cached` (#20455)
  Cargo.lock
  vdev/Cargo.toml
Owners: none

fix(kafka source): Reorder message consume loop to avoid memory growth (#20467)
  changelog.d/kafka-source-ack-leak.fix.md
  src/sources/kafka.rs
Owners: @vectordotdev/vector

enhancement(prometheus_exporter sink): add CompressionLayer support (#20065)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  changelog.d/19962_prometheus_exporter_compression.enhancement.md
  src/http.rs
  src/sinks/prometheus/exporter.rs
Owners: @vectordotdev/vector

chore(loki sink): Changed OutOfOrderAction default to accept (#20469)
  changelog.d/loki-sink-default-out-of-order-action-accept.breaking.md
  src/sinks/loki/config.rs
  website/cue/reference/components/sinks/base/loki.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

chore(ci): Fix nextest / rustup dll issue (#20544)
  scripts/environment/bootstrap-windows-2019.ps1
Owners: none

chore(reduce): add arbitrary trait (#20537)
  Cargo.lock
  Cargo.toml
  src/transforms/reduce/merge_strategy.rs
Owners: @vectordotdev/vector

chore(reduce): expose reduce logic (#20543)
  Cargo.toml
  src/internal_events/mod.rs
  src/transforms/mod.rs
  src/transforms/reduce/config.rs
  src/transforms/reduce/mod.rs
  src/transforms/reduce/transform.rs
Owners: @vectordotdev/vector

docs: Fix link to remap event data model (#20536)
  website/cue/reference/remap/concepts/metrics.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(kubernetes_logs source): Remove unreported metrics from the docs (#20530)
  website/cue/reference/components/sources/internal_metrics.cue
  website/cue/reference/components/sources/kubernetes_logs.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

feat(kafka source): use `msg.payload_len()` to initialize `FramedRead` (#20529)
  changelog.d/kafka-source-parse_message.feature.md
  src/sources/kafka.rs
Owners: @vectordotdev/vector

chore(config): Drop support for missing example configs (#20550)
  lib/vector-config/src/component/description.rs
  src/generate.rs
Owners: @vectordotdev/vector

fix(reduce): correct feature gate (#20554)
  src/transforms/reduce/mod.rs
Owners: @vectordotdev/vector

chore(gcp_chronicle): allow enabling google chronicle separately from… (#20557)
  Cargo.toml
  src/sinks/gcp/mod.rs
  src/sinks/gcp_chronicle/chronicle_unstructured.rs
  src/sinks/gcp_chronicle/mod.rs
  src/sinks/mod.rs
Owners: @vectordotdev/vector

chore: Move third-party proto files into their own module (#20556)
  buf.work.yaml
  build.rs
  lib/loki-logproto/build.rs
  lib/prometheus-parser/build.rs
  lib/vector-core/build.rs
  proto/third-party/buf.yaml
  proto/third-party/dnstap.proto
  proto/third-party/google/LICENSE-Apache-2.0.txt
  proto/third-party/google/README
  proto/third-party/google/api/annotations.proto
  proto/third-party/google/api/client.proto
  proto/third-party/google/api/field_behavior.proto
  proto/third-party/google/api/http.proto
  proto/third-party/google/api/resource.proto
  proto/third-party/google/protobuf/LICENSE
  proto/third-party/google/protobuf/any.proto
  proto/third-party/google/protobuf/descriptor.proto
  proto/third-party/google/protobuf/empty.proto
  proto/third-party/google/protobuf/timestamp.proto
  proto/third-party/google/pubsub/v1/pubsub.proto
  proto/third-party/google/rpc/status.proto
  proto/vector/buf.yaml
  proto/vector/dd_metric.proto
  proto/vector/dd_trace.proto
  proto/vector/ddsketch_full.proto
  proto/vector/vector.proto
Owners: @vectordotdev/vector

chore(ci): Replace kafka integration test filter (#20534)
  scripts/integration/kafka/test.yaml
Owners: none

chore: Update buf config to v2 (#20558)
  buf.work.yaml
  buf.yaml
  lib/vector-core/proto/buf.yaml
  proto/third-party/buf.yaml
Owners: @vectordotdev/vector

chore(deps): Bump cargo-nextest (#20572)
  scripts/e2e/Dockerfile
  scripts/environment/bootstrap-windows-2019.ps1
  scripts/environment/prepare.sh
  scripts/integration/Dockerfile
Owners: none

fix(external docs): Fix parsing-csv-logs-with-lua.md example for postgres > 13 (#20513)
  website/content/en/guides/advanced/parsing-csv-logs-with-lua.md
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

doc: Improve NixOS documentation (#20497)
  website/content/en/docs/setup/installation/operating-systems/nixos.md
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(elasticsearch): add arbitrary trait to ElasticsearchApiVersion (#20580)
  src/sinks/elasticsearch/mod.rs
Owners: @vectordotdev/vector

feat(opentelemetry source): support trace ingestion (#19728)
  changelog.d/opentelemetry_trace.feature.md
  lib/opentelemetry-proto/build.rs
  lib/opentelemetry-proto/src/convert.rs
  lib/opentelemetry-proto/src/proto.rs
  lib/opentelemetry-proto/src/proto/opentelemetry-proto/opentelemetry/proto/trace/v1/trace.proto
  src/sources/opentelemetry/grpc.rs
  src/sources/opentelemetry/http.rs
  src/sources/opentelemetry/integration_tests.rs
  src/sources/opentelemetry/mod.rs
  src/sources/opentelemetry/tests.rs
  src/sources/util/grpc/mod.rs
  tests/data/opentelemetry/config.yaml
  website/cue/reference/components/sources/opentelemetry.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

chore(ci): Update versions of OSes used for testing the RPM package (#20611)
  .github/workflows/publish.yml
Owners: none

chore(enrichment_tables): Make configuration fields public (#20614)
  src/enrichment_tables/file.rs
Owners: none

chore(docs): Remove references to HTTP Content-Length from component spec (#20615)
  docs/specs/component.md
Owners: @vectordotdev/ux-team

enhancement(http): log source IP as `host` key in the `http` source (#19667)
  changelog.d/4221_host_key_http_source.enhancement.md
  src/sources/heroku_logs.rs
  src/sources/http_server.rs
  src/sources/util/http/prelude.rs
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_server.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

feat(new encoding): add pretty json encoding (#20384)
  changelog.d/20384_pretty_json_config.enhancement.md
  config/vector.yaml
  lib/codecs/src/encoding/format/json.rs
  lib/codecs/src/encoding/format/mod.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
  src/components/validation/resources/event.rs
  src/generate.rs
  src/sinks/datadog/logs/config.rs
  src/sinks/http/config.rs
  src/sinks/splunk_hec/logs/config.rs
  website/cue/reference/components/sinks/base/amqp.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/console.cue
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/kafka.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/mqtt.cue
  website/cue/reference/components/sinks/base/nats.cue
  website/cue/reference/components/sinks/base/papertrail.cue
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/socket.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/webhdfs.cue
  website/cue/reference/components/sinks/base/websocket.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

enhancement(remap transform): add caching to remap vrl compilation (#20555)
  changelog.d/cache-remap-compilation.enhancement.md
  lib/enrichment/src/tables.rs
  src/transforms/remap.rs
Owners: @vectordotdev/vector

enhancement(kafka sink): Make healthcheck topic configurable (#20373)
  changelog.d/10465_kafka_sink_healthcheck_topic.enhancement.md
  src/sinks/kafka/config.rs
  src/sinks/kafka/sink.rs
  src/sinks/kafka/tests.rs
  website/cue/reference/components/sinks/base/kafka.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

chore(enterprise)!: Remove `enterprise` feature (#20468)
  .github/semantic.yml
  Cargo.lock
  Cargo.toml
  changelog.d/remove-enterprise-feature.breaking.md
  docs/DEPRECATIONS.md
  regression/cases/enterprise_http_to_http/data/.gitkeep
  regression/cases/enterprise_http_to_http/lading/lading.yaml
  regression/cases/enterprise_http_to_http/vector/vector.yaml
  src/app.rs
  src/cli.rs
  src/common/mod.rs
  src/config/builder.rs
  src/config/compiler.rs
  src/config/enterprise.rs
  src/config/mod.rs
  src/lib.rs
  src/sinks/datadog/logs/tests.rs
  src/topology/controller.rs
  tests/data/enterprise/base.toml
  tests/data/enterprise/missing_api_key.toml
  vdev/src/features.rs
Owners: @vectordotdev/ux-team, @vectordotdev/vector

chore(vrl): update to crate version to 0.16.0 (#20634)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/file-source/src/file_server.rs
  lib/vector-core/src/event/vrl_target.rs
  src/transforms/aws_ec2_metadata.rs
  website/cue/reference/remap/expressions/path.cue
  website/cue/reference/remap/functions/parse_aws_alb_log.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

fix(datadog sinks): Compute proper validate endpoint (#20644)
  .github/actions/spelling/allow.txt
  changelog.d/datadog-api-endpoint.fix.md
  src/common/datadog.rs
  src/sinks/datadog/events/config.rs
  src/sinks/datadog/mod.rs
Owners: @vectordotdev/vector

chore(dev): Update sasl2-sys to fix building on GCC 14+ / CLang environments (#20645)
  Cargo.lock
Owners: none

fix(datadog sinks): Fix regex typo in computation of API endpoint (#20656)
  src/common/datadog.rs
Owners: none

chore(deps): Allow unicode-3 license (#20647)
  deny.toml
Owners: none
