Repository titaneric/vector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vectordotdev/ux-team, @vectordotdev/vector, @vectordotdev/documentation

.github/CODEOWNERS:

docs/ @vectordotdev/ux-team
lib/dnsmsg-parser/ @vectordotdev/vector
lib/file-source/ @vectordotdev/vector
lib/k8s-e2e-tests/ @vectordotdev/vector
lib/k8s-test-framework/ @vectordotdev/vector
lib/opentelemetry-proto/ @vectordotdev/vector
lib/vector-common/ @vectordotdev/vector
lib/vector-config/ @vectordotdev/vector
lib/vector-config-common/ @vectordotdev/vector
lib/vector-config-macros/ @vectordotdev/vector
lib/vector-core/ @vectordotdev/vector
lib/vector-vrl-functions/ @vectordotdev/vector
lib/vrl/ @vectordotdev/vector
src/config/ @vectordotdev/vector
src/internal_telemetry/ @vectordotdev/vector
src/sinks/ @vectordotdev/vector
src/sinks/amqp/ @vectordotdev/vector
src/sinks/appsignal/ @vectordotdev/vector
src/sinks/aws_cloudwatch_logs/ @vectordotdev/vector
src/sinks/aws_cloudwatch_metrics/ @vectordotdev/vector
src/sinks/aws_kinesis/ @vectordotdev/vector # sink_aws_kinesis_firehose,sink_aws_kinesis_stream
src/sinks/aws_s3/ @vectordotdev/vector
src/sinks/aws_sqs/ @vectordotdev/vector
src/sinks/axiom.rs @vectordotdev/vector
src/sinks/azure_blob/ @vectordotdev/vector
src/sinks/azure_monitor_logs.rs @vectordotdev/vector
src/sinks/blackhole/ @vectordotdev/vector
src/sinks/clickhouse/ @vectordotdev/vector
src/sinks/console/ @vectordotdev/vector
src/sinks/databend/ @vectordotdev/vector
src/sinks/datadog_events/ @vectordotdev/vector
src/sinks/datadog_logs/ @vectordotdev/vector
src/sinks/datadog_metrics/ @vectordotdev/vector
src/sinks/datadog_traces/ @vectordotdev/vector
src/sinks/elasticsearch/ @vectordotdev/vector
src/sinks/file/ @vectordotdev/vector
src/sinks/gcp/ @vectordotdev/vector # sink_gcp_chronicle_unstructured,sink_gcp_cloud_storage,sink_gcp_pubsub,sink_gcp_stackdriver_logs,sink_gcp_stackdriver_metrics
src/sinks/honeycomb.rs @vectordotdev/vector
src/sinks/http.rs @vectordotdev/vector
src/sinks/humio/ @vectordotdev/vector # sink_humio_logs,sink_humio_metrics
src/sinks/influxdb/ @vectordotdev/vector # sink_influxdb_logs,sink_influxdb_metrics
src/sinks/kafka/ @vectordotdev/vector
src/sinks/logdna.rs @vectordotdev/vector
src/sinks/loki/ @vectordotdev/vector
src/sinks/nats.rs @vectordotdev/vector
src/sinks/new_relic/ @vectordotdev/vector # sink_newrelix,sink_newrelic_logs
src/sinks/papertrail.rs @vectordotdev/vector
src/sinks/prometheus/ @vectordotdev/vector # sink_prometheus_exporter,sink_prometheus_remote_write
src/sinks/pulsar.rs @vectordotdev/vector
src/sinks/redis.rs @vectordotdev/vector
src/sinks/sematext/ @vectordotdev/vector # sink_sematext_logs,sink_sematext_metrics
src/sinks/socket.rs @vectordotdev/vector
src/sinks/splunk_hec/ @vectordotdev/vector # sink_splunk_hec_logs,sink_splunk_hec_metrics
src/sinks/statsd.rs @vectordotdev/vector
src/sinks/vector/ @vectordotdev/vector
src/sinks/websocket/ @vectordotdev/vector
src/source_sender/ @vectordotdev/vector
src/sources/ @vectordotdev/vector
src/sources/amqp.rs @vectordotdev/vector
src/sources/apache_metrics/ @vectordotdev/vector
src/sources/aws_ecs_metrics/ @vectordotdev/vector
src/sources/aws_kinesis_firehose/ @vectordotdev/vector
src/sources/aws_s3/ @vectordotdev/vector
src/sources/aws_sqs/ @vectordotdev/vector
src/sources/datadog_agent/ @vectordotdev/vector
src/sources/demo_logs.rs @vectordotdev/vector
src/sources/dnstap/ @vectordotdev/vector
src/sources/docker_logs/ @vectordotdev/vector
src/sources/eventstoredb_metrics/ @vectordotdev/vector
src/sources/exec/ @vectordotdev/vector
src/sources/file.rs @vectordotdev/vector
src/sources/file_descriptors/ @vectordotdev/vector # source_file_descriptor,source_stdin
src/sources/fluent/ @vectordotdev/vector
src/sources/gcp_pubsub.rs @vectordotdev/vector
src/sources/heroku_logs.rs @vectordotdev/vector
src/sources/host_metrics/ @vectordotdev/vector
src/sources/http_client/ @vectordotdev/vector
src/sources/http_server.rs @vectordotdev/vector
src/sources/internal_logs.rs @vectordotdev/vector
src/sources/internal_metrics.rs @vectordotdev/vector
src/sources/journald.rs @vectordotdev/vector
src/sources/kafka.rs @vectordotdev/vector
src/sources/kubernetes_logs/ @vectordotdev/vector
src/sources/logstash.rs @vectordotdev/vector
src/sources/mongodb_metrics/ @vectordotdev/vector
src/sources/nats.rs @vectordotdev/vector
src/sources/nginx_metrics/ @vectordotdev/vector
src/sources/opentelemetry/ @vectordotdev/vector
src/sources/postgresql_metrics.rs @vectordotdev/vector
src/sources/prometheus/ @vectordotdev/vector # source_prometheus_remote_write,source_prometheus_scrape
src/sources/redis/ @vectordotdev/vector
src/sources/socket/ @vectordotdev/vector
src/sources/splunk_hec/ @vectordotdev/vector
src/sources/statsd/ @vectordotdev/vector
src/sources/syslog.rs @vectordotdev/vector
src/sources/vector/ @vectordotdev/vector
src/test_util/ @vectordotdev/vector
src/topology/ @vectordotdev/vector
src/transforms/ @vectordotdev/vector
website/ @vectordotdev/ux-team @vectordotdev/documentation

docs: Update pacman.md as vector is available now in extra repository (#20241)
  website/content/en/docs/setup/installation/package-managers/pacman.md
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore: remove unnecessary clone (#20245)
  src/app.rs
Owners: none

fix(kafka source): fix source span instrumentation (#20242)
  changelog.d/20224_kafka_source_event_instrumentation.fix.md
  src/sources/kafka.rs
Owners: @vectordotdev/vector

feat(databend sink): service use databend-client (#20244)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  changelog.d/20244_change_inner_databend_client.enhancement.md
  scripts/integration/databend/test.yaml
  src/sinks/databend/api.rs
  src/sinks/databend/config.rs
  src/sinks/databend/error.rs
  src/sinks/databend/integration_tests.rs
  src/sinks/databend/mod.rs
  src/sinks/databend/service.rs
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/databend.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

fix(log_to_metric transform): set not working in log-to-metric transform when all_metrics=true (#20228)
  changelog.d/20228_fix-log-to-metric-set-supported.fix.md
  src/transforms/log_to_metric.rs
  testing/github-20228/config.toml
Owners: @vectordotdev/vector

fix(metrics): normalizer doesn't handle mix of absolute and incremental metrics (#20193)
  changelog.d/prometheus_mixed_gauges.fix.md
  src/sinks/prometheus/exporter.rs
Owners: @vectordotdev/vector

chore(releasing): Prepare v0.37.1 release
  changelog.d/20192_geoip_geolite_city_support.fix.md
  distribution/install.sh
  website/content/en/releases/0.37.1.md
  website/cue/reference/releases/0.37.0.cue
  website/cue/reference/releases/0.37.1.cue
  website/cue/reference/versions.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(ci): Download SHA256SUMS to correct location (#20269)
  .github/workflows/publish.yml
Owners: none

enhancement(amqp sink): add expiration option to AMQP messages (#20215)
  changelog.d/20214_amqp_expiration.enhancement.md
  src/sinks/amqp/config.rs
  website/cue/reference/components/sinks/base/amqp.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

enhancement(source metrics): Adding a histogram for event byte size (#19686)
  changelog.d/19686_element_size_histogram.enhancement.md
  src/internal_events/socket.rs
  website/cue/reference/components/sources/internal_metrics.cue
  website/cue/reference/components/sources/socket.cue
  website/cue/reference/components/sources/statsd.cue
  website/cue/reference/components/sources/syslog.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

enhancement(aws_s3 source): Adds an option `max_number_of_messages` for the aws_s3 source (#20261)
  changelog.d/20172_max_number_of_messages.enhancement.md
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
  website/cue/reference/components/sources/base/aws_s3.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

chore(splunk hec): add semantic meaning for Vector log namespace (#20292)
  changelog.d/20292_splunk_hec_add_message_semantic_meaning.fix.md
  src/sources/splunk_hec/mod.rs
Owners: @vectordotdev/vector

fix(aws service): use http client when building assume role for AccessKey (#20285)
  changelog.d/20282_aws_access_key_id_and_assume_role_auth.fix.md
  src/aws/auth.rs
Owners: none

enhancement(releasing): Bump distroless base image to debian12 from debian11 (#20267)
  changelog.d/20265-distroless-debian12.enhancement.md
  distribution/docker/distroless-libc/Dockerfile
Owners: none

chore: Run unit test tests in CI (#20313)
  src/config/unit_test/mod.rs
  src/config/unit_test/tests.rs
Owners: @vectordotdev/vector

feat(elasticsearch sink): allow external document versioning (#20102)
  changelog.d/elasticsearch_sink_document_versioning.feature.md
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/elasticsearch/encoder.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/elasticsearch/sink.rs
  src/sinks/elasticsearch/tests.rs
  website/cue/reference/components/sinks/base/elasticsearch.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

feat(databend sink): add config missing_field_as for ndjson insert (#20331)
  Cargo.lock
  Cargo.toml
  changelog.d/20331_databend_config_ndjson.enhancement.md
  src/sinks/databend/config.rs
  src/sinks/databend/encoding.rs
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/databend.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

chore(security): update rustls crate for RUSTSEC-2024-0336 (#20343)
  Cargo.lock
Owners: none

chore(deps): Bump rust-toolchain to 1.77.2 (#20344)
  rust-toolchain.toml
Owners: none

added option to insert to random shard (#20336)
  changelog.d/20335_added_support_for_insert_distributed_one_random_shard.feature.md
  src/sinks/clickhouse/config.rs
  src/sinks/clickhouse/service.rs
  website/cue/reference/components/sinks/base/clickhouse.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

fix(host_metrics source): Include cgroups2 root memory metrics (#20294)
  src/sources/host_metrics/cgroups.rs
Owners: @vectordotdev/vector

docs: Update docker.md (#20346)
  website/content/en/docs/setup/installation/platforms/docker.md
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(core): Implement `LogEvent::get_mut_by_meaning` (#20358)
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/metadata.rs
  src/sources/datadog_agent/tests.rs
  src/transforms/remap.rs
Owners: @vectordotdev/vector

chore(dev): Bump down zstd-sys from 2.0.10 to 2.0.9 (#20369)
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  scripts/ensure-wasm-pack-installed.sh
  scripts/environment/prepare.sh
Owners: none

chore: fix some typos in comments (#20334)
  lib/dnsmsg-parser/src/dns_message_parser.rs
  src/sinks/datadog/metrics/encoder.rs
  src/sinks/datadog/mod.rs
  src/sinks/datadog/traces/service.rs
  src/topology/builder.rs
Owners: @vectordotdev/vector

docs: fix grammar in what-is-observability-pipelines.md (#20387)
  website/content/en/docs/about/what-is-observability-pipelines.md
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

test: Install dd-pkg in *-verify workflows and lint in verify-install.sh (#20397)
  .github/workflows/publish.yml
  scripts/verify-install.sh
Owners: none

chore(deps): Bump VRL to 0.14.0 (#20398)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  lib/vector-common/Cargo.toml
  lib/vector-config/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-vrl/tests/Cargo.toml
Owners: @vectordotdev/vector

enhancement(chronicle sink): support labels (#20307)
  changelog.d/20281_chronicle_labels_support.enhancement.md
  src/sinks/gcp/chronicle_unstructured.rs
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

docs(lib,website): remove repetitive words (#20315)
  lib/vector-buffers/src/variants/disk_v2/mod.rs
  website/cue/reference/releases/0.20.1.cue
  website/cue/reference/releases/0.29.0.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore: Add future deprecation note for `component_(sent|received)_bytes_total` metrics (#20412)
  docs/specs/component.md
Owners: @vectordotdev/ux-team

doc: nixos.md: Corrected to showcase module usage (#20413)
  website/content/en/docs/setup/installation/operating-systems/nixos.md
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(deps): Bump VRL to 0.15.0 (#20415)
  Cargo.toml
Owners: none

chore(config)!: Remove deprecated `--strict-env-vars` flag (#20422)
  changelog.d/remove_strict_env_vars.breaking.md
  docs/DEPRECATIONS.md
  src/cli.rs
  src/config/cmd.rs
  src/config/enterprise.rs
  src/config/loading/config_builder.rs
  src/config/loading/loader.rs
  src/config/loading/mod.rs
  src/config/loading/secret.rs
  src/config/loading/source.rs
  src/config/mod.rs
  src/config/unit_test/mod.rs
  src/config/vars.rs
  src/providers/http.rs
  src/validate.rs
  website/cue/reference/cli.cue
Owners: @vectordotdev/ux-team, @vectordotdev/vector, @vectordotdev/documentation

chore(ci): Bump timeout for `publish-new-environment` in CI (#20426)
  .github/workflows/environment.yml
Owners: none

chore(releasing): Regenerate k8s manifests for chart 0.32.1 (#20280)
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Owners: none

feat(config): Support loading secrets from AWS Secrets Manager (#20142)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  changelog.d/19990_support_loading_secrets_from_aws_secrets_manager.feature.md
  src/secrets/aws_secrets_manager.rs
  src/secrets/mod.rs
  website/cue/reference/configuration.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

docs: Document new uuid_from_friendly_id function (#20357)
  .github/actions/spelling/patterns.txt
  website/cue/reference/remap/functions/uuid_from_friendly_id.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

fix(ci): component features comment trigger one runner label (#20430)
  .github/workflows/component_features.yml
Owners: none

chore(datadog logs): expose internals and test utils (#20429)
  src/sinks/datadog/logs/config.rs
  src/sinks/datadog/logs/mod.rs
  src/sinks/datadog/logs/sink.rs
  src/sinks/datadog/mod.rs
  src/sinks/datadog/test_utils.rs
Owners: @vectordotdev/vector
