Repository titaneric/vector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @binarylogic, @jamtur01, @MOZGIII, @hoverbear, @JeanMertz, @juchiast, @lukesteensen, @bruceg, @ktff, @jszwedko, @fanatid

enhancement(dedupe transform): add internal events (#3809)
  src/internal_events/dedupe.rs
  src/internal_events/mod.rs
  src/transforms/dedupe.rs
Owners: @JeanMertz

enhancement(tokenizer transform): add internal events (#3807)
  src/internal_events/mod.rs
  src/internal_events/tokenizer.rs
  src/transforms/tokenizer.rs
Owners: @JeanMertz

chore: Add some additional Event impls (#3621)
  src/event/log_event.rs
  src/event/mod.rs
Owners: none

chore(networking): Rework internal auto concurrency tests (#3802)
  src/sinks/util/auto_concurrency/tests.rs
  src/test_util/mod.rs
  tests/data/auto-concurrency-template.toml
  tests/data/auto-concurrency/constant-link.toml
  tests/data/auto-concurrency/defers-at-high-concurrency.toml
  tests/data/auto-concurrency/drops-at-high-concurrency.toml
  tests/data/auto-concurrency/fixed-concurrency.toml
  tests/data/auto-concurrency/jittery-link-small.toml
  tests/data/auto-concurrency/medium-send.toml
  tests/data/auto-concurrency/slow-link.toml
  tests/data/auto-concurrency/slow-send-1.toml
  tests/data/auto-concurrency/slow-send-2.toml
Owners: @bruceg

chore(platforms): Migrate x86 gnu target to cross, add new aarch64 gnu target (no sasl) (#3657)
  .github/workflows/e2e.yml
  .github/workflows/tests.yml
  Cargo.toml
  Makefile
  distribution/rpm/vector.spec
  docker-compose.yml
Owners: @jamtur01, @hoverbear

chore: Added cross installation to fix nightly builds (#3831)
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Owners: @jamtur01

chore: Remove check-code.sh since it is no longer used
  scripts/check-code.sh
Owners: @jamtur01

chore: Fix Debian post-install process to reload systemd daemons (#3832)
  distribution/debian/scripts/postinst
  distribution/debian/scripts/preinst
Owners: @hoverbear, @jamtur01

chore: Added workflow_dispatch for the env workflow (#3842)
  .github/workflows/environment.yml
Owners: @jamtur01

chore: Fix make prepare-environment (#3841)
  .github/workflows/environment.yml
  Makefile
  scripts/Gemfile
  scripts/Gemfile.lock
  scripts/environment/bootstrap-ubuntu-20.04.sh
Owners: @jamtur01, @hoverbear

chore: Removing CI references to Nix (#3844)
  CONTRIBUTING.md
  Makefile
Owners: @binarylogic, @jamtur01

docs: Updates reference to gitter to point to the Discord server (#3858)
  CONTRIBUTING.md
Owners: @binarylogic, @jamtur01

fix: apply encoding rules in sinks (#3766)
  src/sinks/aws_kinesis_streams.rs
  src/sinks/datadog/logs.rs
  src/sinks/gcp/stackdriver_logs.rs
  src/sinks/influxdb/logs.rs
  src/sinks/kafka.rs
  src/sinks/logdna.rs
  src/sinks/papertrail.rs
  src/sinks/pulsar.rs
  src/sinks/splunk_hec.rs
  src/sinks/util/mod.rs
Owners: @jszwedko, @bruceg, @lukesteensen

chore(windows platform): Windows support for ENVIRONMENT=true (#3856)
  Makefile
  scripts/environment/Dockerfile
  scripts/environment/bootstrap-ubuntu-20.04.sh
  scripts/environment/prepare.sh
Owners: @hoverbear, @jamtur01

docs: Update Privacy policy for Discord (#3859)
  PRIVACY.md
Owners: @binarylogic, @jamtur01

added back in env push (#3867)
  .github/workflows/environment.yml
Owners: @jamtur01

chore: correct linger misbehavior (#3869)
  src/sinks/util/sink.rs
Owners: none

chore: Add PHONY per target in makefile (#3865)
  Makefile
Owners: none

chore: Update contributing testing documentation (#3652)
  CONTRIBUTING.md
Owners: @binarylogic, @jamtur01

docs: Add JMX metrics RFC (#3793)
  rfcs/2020-07-28-3642-jmx_rfc.md
Owners: none

docs(kubernetes_logs source): Add reference docs (#3555)
  .meta/installation/platforms.toml
  .meta/sources/kubernetes_logs.toml.erb
Owners: none

chore: Fixed Markdown error in CONTRIBUTING.md (#3878)
  CONTRIBUTING.md
Owners: @binarylogic, @jamtur01

chore: introduce Stream variant in VectorSink enum (#3826)
  benches/isolated_buffering.rs
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sinks/aws_cloudwatch_metrics.rs
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_streams.rs
  src/sinks/aws_s3.rs
  src/sinks/blackhole.rs
  src/sinks/clickhouse.rs
  src/sinks/console.rs
  src/sinks/datadog/logs.rs
  src/sinks/elasticsearch.rs
  src/sinks/file/mod.rs
  src/sinks/influxdb/logs.rs
  src/sinks/influxdb/metrics.rs
  src/sinks/kafka.rs
  src/sinks/logdna.rs
  src/sinks/mod.rs
  src/sinks/new_relic_logs.rs
  src/sinks/papertrail.rs
  src/sinks/pulsar.rs
  src/sinks/socket.rs
  src/sinks/splunk_hec.rs
  src/sinks/statsd.rs
  src/sinks/streaming_sink/compat.rs
  src/sinks/streaming_sink/mod.rs
  src/sinks/util/mod.rs
  src/sinks/util/sink.rs
  src/sinks/util/tcp.rs
  src/sinks/util/udp.rs
  src/sinks/util/unix.rs
  src/sinks/vector.rs
  src/sources/splunk_hec.rs
  src/sources/vector.rs
  src/test_util/mod.rs
  src/topology/builder.rs
  tests/buffering.rs
  tests/support/mod.rs
Owners: @lukesteensen, @jszwedko, @ktff, @MOZGIII

chore(internal docs): Add note about flakey tests to CONTRIBUTING.md (#3783)
  CONTRIBUTING.md
Owners: @binarylogic, @jamtur01

enhancement(influxdb_metrics sink): Support `summary` statistic (#3846)
  src/sinks/influxdb/metrics.rs
Owners: none

enhancement(datadog_metrics sink): Support datadog `distribution` metric (#3725)
  src/sinks/datadog/metrics.rs
  src/sinks/util/service.rs
Owners: none

fix(observability): Regularize internal event messages (#3850)
  .github/workflows/lints.yml
  Makefile
  scripts/check-internal-events.sh
  scripts/environment/bootstrap-ubuntu-20.04.sh
  src/internal_events/add_fields.rs
  src/internal_events/ansi_stripper.rs
  src/internal_events/docker.rs
  src/internal_events/elasticsearch.rs
  src/internal_events/file.rs
  src/internal_events/heartbeat.rs
  src/internal_events/http.rs
  src/internal_events/kafka.rs
  src/internal_events/kubernetes/api_watcher.rs
  src/internal_events/kubernetes/instrumenting_watcher.rs
  src/internal_events/kubernetes/reflector.rs
  src/internal_events/kubernetes_logs.rs
  src/internal_events/logplex.rs
  src/internal_events/prometheus.rs
  src/internal_events/regex_parser.rs
  src/internal_events/socket.rs
  src/internal_events/split.rs
  src/internal_events/splunk_hec.rs
  src/internal_events/statsd.rs
  src/internal_events/stdin.rs
  src/internal_events/syslog.rs
  src/internal_events/tag_cardinality_limit.rs
  src/internal_events/tcp.rs
  src/internal_events/unix.rs
  src/internal_events/vector.rs
Owners: @jamtur01, @hoverbear, @JeanMertz

fix(reload): Recreate trigger (#3855)
  src/main.rs
  src/topology/mod.rs
  tests/shutdown.rs
Owners: @lukesteensen, @ktff

enhancement: Enable tls by default for `papertrail` and `datadog_logs` sinks (#3824)
  .meta/_partials/fields/_kafka_options.toml.erb
  .meta/_partials/fields/_tls_connector_options.toml.erb
  .meta/sinks/datadog_logs.toml.erb
  .meta/sinks/papertrail.toml.erb
  .meta/sinks/socket.toml.erb
  .meta/sinks/vector.toml.erb
  src/sinks/datadog/logs.rs
  src/sinks/papertrail.rs
  src/tls/settings.rs
Owners: @bruceg

chore(rpm platform): Fixup rpm builds to support new tarballs (#3890)
  distribution/rpm/vector.spec
Owners: @hoverbear, @jamtur01

chore: Remove cpan (#3877)
  scripts/ci-docker-images/builder-x86_64-unknown-linux-gnu/Dockerfile
  scripts/package-deb.sh
Owners: @hoverbear, @jamtur01

chore(windows platform): Support tarball generation on Windows (#3876)
  Makefile
Owners: none

chore(rfcs): Add RFC for first-class metric namespaces (#3686)
  rfcs/2020-09-02-3684-metric-namespaces.md
Owners: none

chore(data model): Event fixture tests and `is_$TYPE()` functions (#3827)
  src/event/log_event.rs
  src/event/value.rs
  tests/data/fixtures/README.md
  tests/data/fixtures/log_event/malformed.json
  tests/data/fixtures/log_event/motivatingly-complex.json
  tests/data/fixtures/value/array/generic.json
  tests/data/fixtures/value/boolean/false.json
  tests/data/fixtures/value/boolean/true.json
  tests/data/fixtures/value/bytes/cn.json
  tests/data/fixtures/value/bytes/emoji.json
  tests/data/fixtures/value/bytes/friendly.json
  tests/data/fixtures/value/bytes/ios-crashers.json
  tests/data/fixtures/value/bytes/jp-emoji.json
  tests/data/fixtures/value/bytes/quotes.json
  tests/data/fixtures/value/bytes/rtl.json
  tests/data/fixtures/value/bytes/saanich.json
  tests/data/fixtures/value/bytes/zalgo.json
  tests/data/fixtures/value/integer/forty-two.json
  tests/data/fixtures/value/integer/maxint_32.json
  tests/data/fixtures/value/integer/maxint_64.json
  tests/data/fixtures/value/map/motivatingly-complex.json
  tests/data/fixtures/value/null/null.json
Owners: none

fix(config): expand macros before validation (#3894)
  src/config/compiler.rs
  tests/config.rs
Owners: none

chore(rpm platform): Fixup tar params (#3920)
  distribution/rpm/vector.spec
Owners: @hoverbear, @jamtur01

chore: Replace ok_or with ok_or_else (#3926)
  src/config/component.rs
  src/mapping/query/path.rs
Owners: none

chore(deps): Upgrade base64 (#3895)
  Cargo.lock
  Cargo.toml
Owners: none

chore: Remove apt upgrade step (#3932)
  .github/workflows/tests.yml
  scripts/environment/bootstrap-ubuntu-20.04.sh
Owners: @jamtur01, @hoverbear

chore: Do not run http_headers_auth_conflict() on OSX (#3936)
  src/sinks/http.rs
Owners: @jszwedko

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

/PRIVACY.md @binarylogic @jamtur01
/LICENSE @binarylogic @jamtur01
/CONTRIBUTING.md @binarylogic @jamtur01
/CODE_OF_CONDUCT.md @binarylogic @jamtur01
/NOTICE @binarylogic @jamtur01
/SECURITY.md @binarylogic @jamtur01

/skaffold/ @MOZGIII
/skaffold.yaml @MOZGIII
/kustomization.yaml @MOZGIII

/distribution/ @hoverbear @jamtur01
/distribution/kubernetes/ @MOZGIII
/distribution/helm/ @MOZGIII

/lib/file-source/src/paths_provider/mod.rs @MOZGIII
/lib/file-source/src/paths_provider/glob.rs @MOZGIII
/lib/k8s-test-framework/ @MOZGIII @JeanMertz
/lib/prometheus-parser/ @juchiast
/lib/vector-wasm/ @hoverbear @JeanMertz

/proto/ @lukesteensen

/scripts/build-* @hoverbear
/scripts/ci-docker-images/ @hoverbear @jamtur01
/scripts/check-meta.sh @binarylogic @jamtur01
/scripts/check-* @jamtur01
/scripts/docker-* @jamtur01
/scripts/environment/* @hoverbear @jamtur01
/scripts/load-meta.rb @binarylogic @jamtur01
/scripts/package-* @jamtur01
/scripts/release-* @hoverbear
/scripts/upgrade-* @hoverbear
/scripts/ci-setup-minikube.sh @MOZGIII
/scripts/ci-setup-helm.sh @MOZGIII
/scripts/release-helm.sh @MOZGIII
/scripts/deploy-kubernetes-test.sh @MOZGIII @JeanMertz
/scripts/test-e2e-kubernetes.sh @MOZGIII @JeanMertz
/scripts/kubernetes-yaml.sh @MOZGIII
/scripts/kubernetes-yaml/ @MOZGIII

/src/metrics.rs @lukesteensen
/src/main.rs @lukesteensen
/src/region.rs @bruceg
/src/template.rs @lukesteensen
/src/tls @bruceg
/src/types.rs @bruceg
/src/line_agg.rs @MOZGIII
/src/signal.rs @ktff
/src/validate.rs @ktff
/src/heartbeat.rs @ktff

/src/buffers/ @lukesteensen

/src/event/merge.rs @MOZGIII
/src/event/merge_state.rs @MOZGIII
/src/event/discriminant.rs @MOZGIII

/src/internal_events/ @JeanMertz

/src/kubernetes/ @MOZGIII @JeanMertz

/src/sinks/*_metrics.rs @lukesteensen
/src/sinks/aws_kinesis_streams.rs @jszwedko
/src/sinks/aws_s3.rs @jszwedko
/src/sinks/console.rs @lukesteensen
/src/sinks/gcp @bruceg
/src/sinks/http.rs @jszwedko
/src/sinks/humio_logs.rs @jszwedko
/src/sinks/splunk_hec.rs @jszwedko
/src/sinks/kafka.rs @lukesteensen
/src/sinks/prometheus.rs @lukesteensen
/src/sinks/splunk_hec.rs @lukesteensen
/src/sinks/statsd.rs @lukesteensen
/src/sinks/tcp.rs @bruceg
/src/sinks/tcp.rs @lukesteensen
/src/sinks/util/auto_concurrency @bruceg

/src/sources/docker.rs @fanatid
/src/sources/generator.rs @bruceg
/src/sources/journald.rs @bruceg
/src/sources/stdin.rs @bruceg
/src/sources/syslog.rs @lukesteensen
/src/sources/tcp.rs @bruceg
/src/sources/udp.rs @bruceg
/src/sources/vector.rs @lukesteensen
/src/sources/util/multiline_config.rs @MOZGIII @JeanMertz
/src/sources/kubernetes_logs/ @MOZGIII @JeanMertz
/src/sources/splunk_hec.rs @ktff

/src/topology/ @lukesteensen

/src/transforms/add_tags.rs @lukesteensen
/src/transforms/ansi_stripper.rs @JeanMertz
/src/transforms/coercer.rs @bruceg
/src/transforms/filter.rs @bruceg
/src/transforms/field_filter.rs @lukesteensen
/src/transforms/geoip.rs @lukesteensen
/src/transforms/grok_parser.rs @lukesteensen
/src/transforms/log_to_metric.rs @lukesteensen
/src/transforms/merge.rs @MOZGIII
/src/transforms/regex_parser.rs @lukesteensen
/src/transforms/remove_tags.rs @lukesteensen
/src/transforms/sampler.rs @lukesteensen
/src/transforms/split.rs @lukesteensen
/src/transforms/tokenzier.rs @lukesteensen

/src/wasm/ @hoverbear @JeanMertz

/tests/buffering.rs @MOZGIII
/tests/data/wasm/ @hoverbear @JeanMertz
/tests/kubernetes-e2e.rs @MOZGIII @JeanMertz
/tests/shutdown.rs @ktff
/tests/cli.rs @ktff

/.github/semantic* @binarylogic @jamtur01
/.github/SUPPORT.md @binarylogic @jamtur01
/.github/PULL_REQUEST_TEMPLATE.md @binarylogic @jamtur01
/.github/ISSUE_TEMPLATE/ @binarylogic @jamtur01
/.github/workflows/e2e.yml @MOZGIII
/.github/workflows/ @jamtur01
