Repository titaneric/vector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vectordotdev/ux-team, @vectordotdev/vector, @vectordotdev/documentation

.github/CODEOWNERS:

docs/ @vectordotdev/ux-team
lib/dnsmsg-parser/ @vectordotdev/vector
lib/file-source/ @vectordotdev/vector
lib/k8s-e2e-tests/ @vectordotdev/vector
lib/k8s-test-framework/ @vectordotdev/vector
lib/opentelemetry-proto/ @vectordotdev/vector
lib/vector-common/ @vectordotdev/vector
lib/vector-config/ @vectordotdev/vector
lib/vector-config-common/ @vectordotdev/vector
lib/vector-config-macros/ @vectordotdev/vector
lib/vector-core/ @vectordotdev/vector
lib/vector-vrl-functions/ @vectordotdev/vector
lib/vrl/ @vectordotdev/vector
src/config/ @vectordotdev/vector
src/internal_telemetry/ @vectordotdev/vector
src/sinks/ @vectordotdev/vector
src/sinks/amqp/ @vectordotdev/vector
src/sinks/appsignal/ @vectordotdev/vector
src/sinks/aws_cloudwatch_logs/ @vectordotdev/vector
src/sinks/aws_cloudwatch_metrics/ @vectordotdev/vector
src/sinks/aws_kinesis/ @vectordotdev/vector # sink_aws_kinesis_firehose,sink_aws_kinesis_stream
src/sinks/aws_s3/ @vectordotdev/vector
src/sinks/aws_sqs/ @vectordotdev/vector
src/sinks/axiom.rs @vectordotdev/vector
src/sinks/azure_blob/ @vectordotdev/vector
src/sinks/azure_monitor_logs.rs @vectordotdev/vector
src/sinks/blackhole/ @vectordotdev/vector
src/sinks/clickhouse/ @vectordotdev/vector
src/sinks/console/ @vectordotdev/vector
src/sinks/databend/ @vectordotdev/vector
src/sinks/datadog_events/ @vectordotdev/vector
src/sinks/datadog_logs/ @vectordotdev/vector
src/sinks/datadog_metrics/ @vectordotdev/vector
src/sinks/datadog_traces/ @vectordotdev/vector
src/sinks/elasticsearch/ @vectordotdev/vector
src/sinks/file/ @vectordotdev/vector
src/sinks/gcp/ @vectordotdev/vector # sink_gcp_chronicle_unstructured,sink_gcp_cloud_storage,sink_gcp_pubsub,sink_gcp_stackdriver_logs,sink_gcp_stackdriver_metrics
src/sinks/honeycomb.rs @vectordotdev/vector
src/sinks/http.rs @vectordotdev/vector
src/sinks/humio/ @vectordotdev/vector # sink_humio_logs,sink_humio_metrics
src/sinks/influxdb/ @vectordotdev/vector # sink_influxdb_logs,sink_influxdb_metrics
src/sinks/kafka/ @vectordotdev/vector
src/sinks/logdna.rs @vectordotdev/vector
src/sinks/loki/ @vectordotdev/vector
src/sinks/nats.rs @vectordotdev/vector
src/sinks/new_relic/ @vectordotdev/vector # sink_newrelix,sink_newrelic_logs
src/sinks/papertrail.rs @vectordotdev/vector
src/sinks/prometheus/ @vectordotdev/vector # sink_prometheus_exporter,sink_prometheus_remote_write
src/sinks/pulsar.rs @vectordotdev/vector
src/sinks/redis.rs @vectordotdev/vector
src/sinks/sematext/ @vectordotdev/vector # sink_sematext_logs,sink_sematext_metrics
src/sinks/socket.rs @vectordotdev/vector
src/sinks/splunk_hec/ @vectordotdev/vector # sink_splunk_hec_logs,sink_splunk_hec_metrics
src/sinks/statsd.rs @vectordotdev/vector
src/sinks/vector/ @vectordotdev/vector
src/sinks/websocket/ @vectordotdev/vector
src/source_sender/ @vectordotdev/vector
src/sources/ @vectordotdev/vector
src/sources/amqp.rs @vectordotdev/vector
src/sources/apache_metrics/ @vectordotdev/vector
src/sources/aws_ecs_metrics/ @vectordotdev/vector
src/sources/aws_kinesis_firehose/ @vectordotdev/vector
src/sources/aws_s3/ @vectordotdev/vector
src/sources/aws_sqs/ @vectordotdev/vector
src/sources/datadog_agent/ @vectordotdev/vector
src/sources/demo_logs.rs @vectordotdev/vector
src/sources/dnstap/ @vectordotdev/vector
src/sources/docker_logs/ @vectordotdev/vector
src/sources/eventstoredb_metrics/ @vectordotdev/vector
src/sources/exec/ @vectordotdev/vector
src/sources/file.rs @vectordotdev/vector
src/sources/file_descriptors/ @vectordotdev/vector # source_file_descriptor,source_stdin
src/sources/fluent/ @vectordotdev/vector
src/sources/gcp_pubsub.rs @vectordotdev/vector
src/sources/heroku_logs.rs @vectordotdev/vector
src/sources/host_metrics/ @vectordotdev/vector
src/sources/http_client/ @vectordotdev/vector
src/sources/http_server.rs @vectordotdev/vector
src/sources/internal_logs.rs @vectordotdev/vector
src/sources/internal_metrics.rs @vectordotdev/vector
src/sources/journald.rs @vectordotdev/vector
src/sources/kafka.rs @vectordotdev/vector
src/sources/kubernetes_logs/ @vectordotdev/vector
src/sources/logstash.rs @vectordotdev/vector
src/sources/mongodb_metrics/ @vectordotdev/vector
src/sources/nats.rs @vectordotdev/vector
src/sources/nginx_metrics/ @vectordotdev/vector
src/sources/opentelemetry/ @vectordotdev/vector
src/sources/postgresql_metrics.rs @vectordotdev/vector
src/sources/prometheus/ @vectordotdev/vector # source_prometheus_remote_write,source_prometheus_scrape
src/sources/redis/ @vectordotdev/vector
src/sources/socket/ @vectordotdev/vector
src/sources/splunk_hec/ @vectordotdev/vector
src/sources/statsd/ @vectordotdev/vector
src/sources/syslog.rs @vectordotdev/vector
src/sources/vector/ @vectordotdev/vector
src/test_util/ @vectordotdev/vector
src/topology/ @vectordotdev/vector
src/transforms/ @vectordotdev/vector
website/ @vectordotdev/ux-team @vectordotdev/documentation

fix(vrl): Mark set_secret and remove_secret as impure (#20820)
  changelog.d/vrl-secrets-impure.fix.md
  lib/vector-vrl/functions/src/remove_secret.rs
  lib/vector-vrl/functions/src/set_secret.rs
Owners: none

docs(vrl): Update documentation for community_id to mention ICMP (#20677)
  website/cue/reference/remap/functions/community_id.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(ci): Run component docs check if component cue files change (#20793)
  .github/workflows/changes.yml
Owners: none

feat(tap): Add duration flag to vector tap (#20815)
  changelog.d/vector_tap_duration_flag.enhancement.md
  src/tap/cmd.rs
  src/tap/mod.rs
  website/cue/reference/cli.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

refactor(tap): Refactor vector tap into library (#20850)
  Cargo.lock
  Cargo.toml
  lib/vector-lib/Cargo.toml
  lib/vector-lib/src/lib.rs
  lib/vector-tap/Cargo.toml
  lib/vector-tap/src/lib.rs
  src/tap/cmd.rs
Owners: none

chore(ci): Temporarily disable eventstoredb integration tests (#20869)
  .github/workflows/changes.yml
  .github/workflows/integration.yml
Owners: none

fix(codecs) csv documentation defaults as ascii_char (#20498)
  changelog.d/18669_csv_documentation_u8_display.fix.md
  lib/codecs/src/encoding/format/csv.rs
  scripts/generate-component-docs.rb
  website/cue/reference/components/sinks/base/amqp.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/azure_blob.cue
  website/cue/reference/components/sinks/base/console.cue
  website/cue/reference/components/sinks/base/databend.cue
  website/cue/reference/components/sinks/base/file.cue
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
  website/cue/reference/components/sinks/base/gcp_cloud_storage.cue
  website/cue/reference/components/sinks/base/gcp_pubsub.cue
  website/cue/reference/components/sinks/base/http.cue
  website/cue/reference/components/sinks/base/humio_logs.cue
  website/cue/reference/components/sinks/base/kafka.cue
  website/cue/reference/components/sinks/base/loki.cue
  website/cue/reference/components/sinks/base/mqtt.cue
  website/cue/reference/components/sinks/base/nats.cue
  website/cue/reference/components/sinks/base/papertrail.cue
  website/cue/reference/components/sinks/base/pulsar.cue
  website/cue/reference/components/sinks/base/redis.cue
  website/cue/reference/components/sinks/base/socket.cue
  website/cue/reference/components/sinks/base/splunk_hec_logs.cue
  website/cue/reference/components/sinks/base/webhdfs.cue
  website/cue/reference/components/sinks/base/websocket.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

fix(loki sinks): Fix loki event timestamp out of range panic (#20780)
  changelog.d/20763_loki_sink_drop_invalid_timestamp_event.fix.md
  src/internal_events/loki.rs
  src/sinks/loki/sink.rs
  src/sinks/loki/tests.rs
Owners: @vectordotdev/vector

fix(proxy): support url-encoded auth values (#20868)
  .github/actions/spelling/allow.txt
  Cargo.lock
  changelog.d/17125_proxy_auth_url_encoded.fix.md
  lib/vector-core/Cargo.toml
  lib/vector-core/src/config/proxy.rs
Owners: @vectordotdev/vector

feat(tap): Implement async output channel type for vector-tap lib (#20876)
  Cargo.lock
  lib/vector-tap/Cargo.toml
  lib/vector-tap/src/lib.rs
  src/tap/cmd.rs
Owners: none

chore(ci): Fix and reenable eventstoredb integration test (#20873)
  .github/workflows/changes.yml
  .github/workflows/integration.yml
  scripts/integration/eventstoredb/test.yaml
  src/sources/eventstoredb_metrics/types.rs
Owners: @vectordotdev/vector

fix(config): For templates using stftime specifiers use semantic timestamp (#20851)
  changelog.d/template-semantic-timestamp.fix.md
  src/template.rs
Owners: none

docs(external docs): add comment to the configuration because it conflicts with what is mentioned in the helm deployment docs (#19523)
  website/content/en/docs/reference/configuration/_index.md
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

docs: Fix link to VRL playground in SUPPORT.md (#20846)
  .github/SUPPORT.md
Owners: none

chore(core): Add helper function to add a semantic meaning to an event metadata (#20439)
  lib/vector-core/src/event/metadata.rs
  lib/vector-core/src/schema/definition.rs
Owners: @vectordotdev/vector

chore(ci): Reinstall rustup in MacOS bootstrap (#20911)
  scripts/environment/bootstrap-macos-10.sh
Owners: none

fix!(codecs): Use '\0' delimiter as default stream decode framer (#20778)
  changelog.d/20768-default_gelf_stream_framing.breaking.md
  lib/codecs/src/decoding/framing/character_delimited.rs
  lib/codecs/src/decoding/mod.rs
  lib/codecs/src/encoding/mod.rs
Owners: none

fix: disallow zero values for sink retry parameters (#20891)
  changelog.d/20891_disallow_zero_for_sink_retry_params.fix.md
  src/sinks/util/service.rs
Owners: @vectordotdev/vector

docs: Fix link to commit scopes in CONTRIBUTING.md (#20847)
  CONTRIBUTING.md
Owners: none

feat(new sink): Add possibility to use nats jetstream in nats sink (#20834)
  changelog.d/20834_nats_jetstream_sink.feature.md
  src/sinks/nats/config.rs
  src/sinks/nats/integration_tests.rs
  src/sinks/nats/mod.rs
  src/sinks/nats/service.rs
  src/sinks/nats/sink.rs
  website/cue/reference/components/sinks/base/nats.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

feat(codec,sources): influxdb line protcol decoder (#19637)
  Cargo.lock
  LICENSE-3rdparty.csv
  changelog.d/19637_influxdb_line_protocol_decoder.enhancement.md
  lib/codecs/Cargo.toml
  lib/codecs/src/decoding/format/influxdb.rs
  lib/codecs/src/decoding/format/mod.rs
  lib/codecs/src/decoding/mod.rs
  src/components/validation/resources/mod.rs
  website/cue/reference/components/sources/base/amqp.cue
  website/cue/reference/components/sources/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
  website/cue/reference/components/sources/base/datadog_agent.cue
  website/cue/reference/components/sources/base/demo_logs.cue
  website/cue/reference/components/sources/base/exec.cue
  website/cue/reference/components/sources/base/file_descriptor.cue
  website/cue/reference/components/sources/base/gcp_pubsub.cue
  website/cue/reference/components/sources/base/heroku_logs.cue
  website/cue/reference/components/sources/base/http.cue
  website/cue/reference/components/sources/base/http_client.cue
  website/cue/reference/components/sources/base/http_server.cue
  website/cue/reference/components/sources/base/kafka.cue
  website/cue/reference/components/sources/base/nats.cue
  website/cue/reference/components/sources/base/pulsar.cue
  website/cue/reference/components/sources/base/redis.cue
  website/cue/reference/components/sources/base/socket.cue
  website/cue/reference/components/sources/base/stdin.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(deps): Upgrade VRL to v0.17.0 (#20922)
  Cargo.lock
  Cargo.toml
Owners: none

fix!(http_server source): only single query param when namespace is enabled (#20920)
  changelog.d/http-server-query-params-with-namespace.fix.md
  src/sources/util/http/query.rs
Owners: @vectordotdev/vector
