Repository titaneric/vector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @binarylogic, @jamtur01, @MOZGIII, @hoverbear, @JeanMertz, @juchiast, @lukesteensen, @bruceg, @ktff, @jszwedko, @fanatid

chore(rpm platform): Resolve tarball differences (#3934)
  Makefile
Owners: none

chore: Temporarily remove semantic.yml (#3943)
  .github/semantic.yml
  .github/semantic.yml.erb
Owners: @binarylogic, @jamtur01

Add .github/semantic.yml
  .github/semantic.yml
Owners: @binarylogic, @jamtur01

chore: Added update grub to fix bootstrap (#3938)
  scripts/environment/bootstrap-ubuntu-20.04.sh
Owners: @hoverbear, @jamtur01

chore: Add Kirill to dependabot (#3942)
  .github/dependabot.yml
Owners: none

chore: Fix grub to work in both CI and Docker containers (#3962)
  scripts/environment/bootstrap-ubuntu-20.04.sh
Owners: @hoverbear, @jamtur01

chore(rpm platform): Fixup strip components call (#3985)
  distribution/rpm/vector.spec
Owners: @hoverbear, @jamtur01

enhancement(elasticsearch sink): Improve retry error messages (#3861)
  src/sinks/elasticsearch.rs
  src/sinks/gcp/cloud_storage.rs
  src/sinks/util/http.rs
  src/sinks/util/retries.rs
Owners: @bruceg

chore: Refactor package steps to simplify them (#3986)
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  Makefile
  docker-compose.yml
Owners: @jamtur01

feat(remap transform): Add new set of functions (#3767)
  Cargo.lock
  Cargo.toml
  src/conditions/check_fields.rs
  src/mapping/mod.rs
  src/mapping/parser/grammar.pest
  src/mapping/parser/mod.rs
  src/mapping/query/functions.rs
  tests/behavior/transforms/remap.toml
Owners: none

chore: Remove remaining -all jobs (#3987)
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Owners: @jamtur01

fix: Add missing inventory::submit (#3988)
  src/sinks/aws_cloudwatch_logs/mod.rs
  src/sources/logplex.rs
  src/sources/prometheus/mod.rs
  src/sources/splunk_hec.rs
  src/sources/statsd/mod.rs
  src/transforms/geoip.rs
  src/transforms/regex_parser.rs
Owners: @ktff, @lukesteensen

Update .github/semantic.yml
  .github/semantic.yml
Owners: @binarylogic, @jamtur01

Update .github/semantic.yml
  .github/semantic.yml
Owners: @binarylogic, @jamtur01

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

/PRIVACY.md @binarylogic @jamtur01
/LICENSE @binarylogic @jamtur01
/CONTRIBUTING.md @binarylogic @jamtur01
/CODE_OF_CONDUCT.md @binarylogic @jamtur01
/NOTICE @binarylogic @jamtur01
/SECURITY.md @binarylogic @jamtur01

/skaffold/ @MOZGIII
/skaffold.yaml @MOZGIII
/kustomization.yaml @MOZGIII

/distribution/ @hoverbear @jamtur01
/distribution/kubernetes/ @MOZGIII
/distribution/helm/ @MOZGIII

/lib/file-source/src/paths_provider/mod.rs @MOZGIII
/lib/file-source/src/paths_provider/glob.rs @MOZGIII
/lib/k8s-test-framework/ @MOZGIII @JeanMertz
/lib/prometheus-parser/ @juchiast
/lib/vector-wasm/ @hoverbear @JeanMertz

/proto/ @lukesteensen

/scripts/build-* @hoverbear
/scripts/ci-docker-images/ @hoverbear @jamtur01
/scripts/check-meta.sh @binarylogic @jamtur01
/scripts/check-* @jamtur01
/scripts/docker-* @jamtur01
/scripts/environment/* @hoverbear @jamtur01
/scripts/load-meta.rb @binarylogic @jamtur01
/scripts/package-* @jamtur01
/scripts/release-* @hoverbear
/scripts/upgrade-* @hoverbear
/scripts/ci-setup-minikube.sh @MOZGIII
/scripts/ci-setup-helm.sh @MOZGIII
/scripts/release-helm.sh @MOZGIII
/scripts/deploy-kubernetes-test.sh @MOZGIII @JeanMertz
/scripts/test-e2e-kubernetes.sh @MOZGIII @JeanMertz
/scripts/kubernetes-yaml.sh @MOZGIII
/scripts/kubernetes-yaml/ @MOZGIII

/src/metrics.rs @lukesteensen
/src/main.rs @lukesteensen
/src/region.rs @bruceg
/src/template.rs @lukesteensen
/src/tls @bruceg
/src/types.rs @bruceg
/src/line_agg.rs @MOZGIII
/src/signal.rs @ktff
/src/validate.rs @ktff
/src/heartbeat.rs @ktff

/src/buffers/ @lukesteensen

/src/event/merge.rs @MOZGIII
/src/event/merge_state.rs @MOZGIII
/src/event/discriminant.rs @MOZGIII

/src/internal_events/ @JeanMertz

/src/kubernetes/ @MOZGIII @JeanMertz

/src/sinks/*_metrics.rs @lukesteensen
/src/sinks/aws_kinesis_streams.rs @jszwedko
/src/sinks/aws_s3.rs @jszwedko
/src/sinks/console.rs @lukesteensen
/src/sinks/gcp @bruceg
/src/sinks/http.rs @jszwedko
/src/sinks/humio_logs.rs @jszwedko
/src/sinks/splunk_hec.rs @jszwedko
/src/sinks/kafka.rs @lukesteensen
/src/sinks/prometheus.rs @lukesteensen
/src/sinks/splunk_hec.rs @lukesteensen
/src/sinks/statsd.rs @lukesteensen
/src/sinks/tcp.rs @bruceg
/src/sinks/tcp.rs @lukesteensen
/src/sinks/util/auto_concurrency @bruceg

/src/sources/docker.rs @fanatid
/src/sources/generator.rs @bruceg
/src/sources/journald.rs @bruceg
/src/sources/stdin.rs @bruceg
/src/sources/syslog.rs @lukesteensen
/src/sources/tcp.rs @bruceg
/src/sources/udp.rs @bruceg
/src/sources/vector.rs @lukesteensen
/src/sources/util/multiline_config.rs @MOZGIII @JeanMertz
/src/sources/kubernetes_logs/ @MOZGIII @JeanMertz
/src/sources/splunk_hec.rs @ktff

/src/topology/ @lukesteensen

/src/transforms/add_tags.rs @lukesteensen
/src/transforms/ansi_stripper.rs @JeanMertz
/src/transforms/coercer.rs @bruceg
/src/transforms/filter.rs @bruceg
/src/transforms/field_filter.rs @lukesteensen
/src/transforms/geoip.rs @lukesteensen
/src/transforms/grok_parser.rs @lukesteensen
/src/transforms/log_to_metric.rs @lukesteensen
/src/transforms/merge.rs @MOZGIII
/src/transforms/regex_parser.rs @lukesteensen
/src/transforms/remove_tags.rs @lukesteensen
/src/transforms/sampler.rs @lukesteensen
/src/transforms/split.rs @lukesteensen
/src/transforms/tokenzier.rs @lukesteensen

/src/wasm/ @hoverbear @JeanMertz

/tests/buffering.rs @MOZGIII
/tests/data/wasm/ @hoverbear @JeanMertz
/tests/kubernetes-e2e.rs @MOZGIII @JeanMertz
/tests/shutdown.rs @ktff
/tests/cli.rs @ktff

/.github/semantic* @binarylogic @jamtur01
/.github/SUPPORT.md @binarylogic @jamtur01
/.github/PULL_REQUEST_TEMPLATE.md @binarylogic @jamtur01
/.github/ISSUE_TEMPLATE/ @binarylogic @jamtur01
/.github/workflows/e2e.yml @MOZGIII
/.github/workflows/ @jamtur01
