Repository titaneric/vector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @binarylogic, @jamtur01, @vector-kubernetes, @lukesteensen, @jszwedko, @fanatid, @bruceg, @ktff, @JeanMertz, @MOZGIII, @FungusHumungus, @hoverbear, @juchiast, @Nick011

chore(external docs): Fix remap example (#5493)
  docs/reference/components/transforms/remap.cue
Owners: @JeanMertz, @FungusHumungus

chore(external docs): Add `reduce` transform `starts_when` option (#5497)
  docs/reference/components/transforms/reduce.cue
Owners: none

fix(external docs): Specify that the filter transform takes metric inputs (#5506)
  docs/reference/components.cue
  docs/reference/components/transforms/filter.cue
Owners: @bruceg

Fix table syntax (#5510)
  docs/reference/components.cue
Owners: none

chore(external docs): Supply missing info for geoip transform CUE sources (#5509)
  docs/reference/components/transforms/geoip.cue
  docs/reference/urls.cue
Owners: @lukesteensen

Fix syntax error (#5512)
  docs/reference/components/transforms/geoip.cue
Owners: @lukesteensen

chore: Updates to security policy (#5515)
  SECURITY.md
Owners: @binarylogic, @jamtur01

enhancement: Add support for basic auth credendtials in URL for more sinks (#5379)
  src/http.rs
  src/sinks/clickhouse.rs
  src/sinks/elasticsearch.rs
  src/sinks/honeycomb.rs
  src/sinks/http.rs
  src/sinks/logdna.rs
  src/sinks/loki.rs
  src/sinks/new_relic_logs.rs
  src/sinks/papertrail.rs
  src/sinks/util/uri.rs
Owners: @jszwedko

enhancement(remap): add integer division (#5353)
  lib/remap-lang/grammar.pest
  lib/remap-lang/src/expression/arithmetic.rs
  lib/remap-lang/src/operator.rs
  lib/remap-lang/src/parser.rs
  lib/remap-lang/src/value.rs
  tests/behavior/transforms/remap.toml
Owners: none

feat(remap): add initial CLI REPL support (#5490)
  Cargo.lock
  lib/remap-cli/Cargo.toml
  lib/remap-cli/TODO.md
  lib/remap-cli/src/main.rs
  lib/remap-cli/src/repl.rs
  lib/remap-cli/test.jsonl
  lib/remap-lang/src/value.rs
Owners: none

enhancement(remap): allow multiple statements in boolean conditional (#5438)
  lib/remap-lang/grammar.pest
  lib/remap-lang/src/error.rs
  lib/remap-lang/src/lib.rs
  lib/remap-lang/src/parser.rs
Owners: none

fix(metrics): Add missing methods to Subscriber forwarder (#5529)
  src/trace.rs
Owners: none

Fix trailing '/' at the end of URL (#5526)
  src/sinks/elasticsearch.rs
Owners: none

fix(kubernetes platform): Correct the prometheus format parsing at K8s E2E tests for the metrics pipeline (#5540)
  lib/k8s-e2e-tests/src/metrics.rs
  lib/k8s-e2e-tests/tests/vector-agent.rs
  lib/k8s-e2e-tests/tests/vector-aggregator.rs
Owners: @vector-kubernetes

chore(ci): Fix conditions::remap::test::check_remap null check (#5533)
  src/conditions/remap.rs
Owners: none

chore(ci): Run benchmarks on GA runners (#5537)
  .github/workflows/benches.yml
Owners: @jamtur01

chore(docs): Add missing endpoint config humio, splunk, loki (#5545)
  docs/reference/components/sinks/humio.cue
  docs/reference/components/sinks/loki.cue
  docs/reference/components/sinks/splunk_hec.cue
Owners: @lukesteensen

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

/PRIVACY.md @binarylogic @jamtur01
/LICENSE @binarylogic @jamtur01
/CONTRIBUTING.md @binarylogic @jamtur01
/CODE_OF_CONDUCT.md @binarylogic @jamtur01
/NOTICE @binarylogic @jamtur01
/SECURITY.md @binarylogic @jamtur01

/skaffold/ @vector-kubernetes
/skaffold.yaml @vector-kubernetes
/kustomization.yaml @vector-kubernetes

/docs/reference/components/sinks/*_metrics.cue @lukesteensen
/docs/reference/components/sinks/aws_kinesis_streams.cue @jszwedko
/docs/reference/components/sinks/aws_s3.cue @jszwedko
/docs/reference/components/sinks/aws_sqs.cue @fanatid
/docs/reference/components/sinks/console.cue @lukesteensen
/docs/reference/components/sinks/gcp @bruceg
/docs/reference/components/sinks/http.cue @jszwedko
/docs/reference/components/sinks/humio_logs.cue @jszwedko
/docs/reference/components/sinks/splunk_hec.cue @ktff
/docs/reference/components/sinks/kafka.cue @lukesteensen
/docs/reference/components/sinks/prometheus_exporter.cue @lukesteensen
/docs/reference/components/sinks/prometheus_remote_write.cue @bruceg
/docs/reference/components/sinks/splunk_hec.cue @lukesteensen
/docs/reference/components/sinks/statsd.cue @lukesteensen
/docs/reference/components/sinks/tcp.cue @bruceg @lukesteensen

/docs/reference/components/sources/apache_metrics.cue @jszwedko
/docs/reference/components/sources/aws_s3.cue @jszwedko
/docs/reference/components/sources/docker.cue @fanatid
/docs/reference/components/sources/generator.cue @bruceg
/docs/reference/components/sources/host_metrics.cue @bruceg
/docs/reference/components/sources/internal_logs.cue @bruceg
/docs/reference/components/sources/journald.cue @bruceg
/docs/reference/components/sources/kubernetes_logs.cue @vector-kubernetes
/docs/reference/components/sources/mongodb_metrics.cue @fanatid
/docs/reference/components/sources/nginx_metrics.cue @fanatid
/docs/reference/components/sources/prometheus_scrape.cue @bruceg
/docs/reference/components/sources/prometheus_remote_write.cue @bruceg
/docs/reference/components/sources/stdin.cue @bruceg
/docs/reference/components/sources/syslog.cue @lukesteensen
/docs/reference/components/sources/tcp.cue @bruceg
/docs/reference/components/sources/udp.cue @bruceg
/docs/reference/components/sources/vector.cue @lukesteensen
/docs/reference/components/sources/kubernetes_* @vector-kubernetes
/docs/reference/components/sources/splunk_hec.cue @ktff

/docs/reference/components/transforms/add_tags.cue @lukesteensen
/docs/reference/components/transforms/ansi_stripper.cue @JeanMertz
/docs/reference/components/transforms/coercer.cue @bruceg
/docs/reference/components/transforms/filter.cue @bruceg
/docs/reference/components/transforms/field_filter.cue @lukesteensen
/docs/reference/components/transforms/geoip.cue @lukesteensen
/docs/reference/components/transforms/grok_parser.cue @lukesteensen
/docs/reference/components/transforms/log_to_metric.cue @lukesteensen
/docs/reference/components/transforms/merge.cue @MOZGIII
/docs/reference/components/transforms/regex_parser.cue @lukesteensen
/docs/reference/components/transforms/remap.cue @JeanMertz @FungusHumungus
/docs/reference/components/transforms/remove_tags.cue @lukesteensen
/docs/reference/components/transforms/sampler.cue @lukesteensen
/docs/reference/components/transforms/split.cue @lukesteensen
/docs/reference/components/transforms/tokenzier.cue @lukesteensen

/distribution/ @hoverbear @jamtur01
/distribution/docker/ @vector-kubernetes
/distribution/helm/ @vector-kubernetes
/distribution/kubernetes/ @vector-kubernetes

/lib/file-source/src/paths_provider/mod.rs @MOZGIII
/lib/file-source/src/paths_provider/glob.rs @MOZGIII
/lib/k8s-test-framework/ @vector-kubernetes
/lib/k8s-e2e-tests/ @vector-kubernetes
/lib/prometheus-parser/ @juchiast
/lib/vector-wasm/ @hoverbear @JeanMertz

/proto/ @lukesteensen

/scripts/build-* @hoverbear
/scripts/ci-docker-images/ @hoverbear @jamtur01
/scripts/check-docs.sh @binarylogic @jamtur01
/scripts/check-* @jamtur01
/scripts/docker-* @jamtur01
/scripts/environment/* @hoverbear @jamtur01
/scripts/load-meta.rb @binarylogic @jamtur01
/scripts/package-* @jamtur01
/scripts/release-* @hoverbear
/scripts/upgrade-* @hoverbear
/scripts/*docker* @vector-kubernetes
/scripts/ci-setup-minikube.sh @vector-kubernetes
/scripts/environment/setup-helm.sh @vector-kubernetes
/scripts/release-helm.sh @vector-kubernetes
/scripts/deploy-kubernetes-test.sh @vector-kubernetes
/scripts/test-e2e-kubernetes.sh @vector-kubernetes
/scripts/kubernetes-yaml.sh @vector-kubernetes
/scripts/kubernetes-yaml/ @vector-kubernetes

/src/metrics.rs @lukesteensen
/src/main.rs @lukesteensen
/src/region.rs @bruceg
/src/template.rs @lukesteensen
/src/tls @bruceg
/src/types.rs @bruceg
/src/line_agg.rs @MOZGIII
/src/signal.rs @ktff
/src/validate.rs @ktff
/src/heartbeat.rs @ktff

/src/buffers/ @lukesteensen

/src/event/merge.rs @MOZGIII
/src/event/merge_state.rs @MOZGIII
/src/event/discriminant.rs @MOZGIII

/src/internal_events/ @JeanMertz

/src/kubernetes/ @vector-kubernetes

/src/mapping/ @JeanMertz @FungusHumungus

/src/sinks/*_metrics.rs @lukesteensen
/src/sinks/aws_kinesis_streams.rs @jszwedko
/src/sinks/aws_s3.rs @jszwedko
/src/sinks/console.rs @lukesteensen
/src/sinks/gcp @bruceg
/src/sinks/http.rs @jszwedko
/src/sinks/humio_logs.rs @jszwedko
/src/sinks/splunk_hec.rs @ktff
/src/sinks/kafka.rs @lukesteensen
/src/sinks/prometheus/collector.rs @bruceg
/src/sinks/prometheus/remote_write.rs @bruceg
/src/sinks/prometheus/exporter.rs @lukesteensen
/src/sinks/splunk_hec.rs @lukesteensen
/src/sinks/statsd.rs @lukesteensen
/src/sinks/tcp.rs @bruceg
/src/sinks/tcp.rs @lukesteensen
/src/sinks/util/adaptive_concurrency @bruceg

/src/sources/apache_metrics/ @jszwedko
/src/sources/aws_kinesis_firehose/ @jszwedko
/src/sources/aws_s3.rs @jszwedko
/src/sources/docker.rs @fanatid
/src/sources/generator.rs @bruceg
/src/sources/host_metrics.rs @bruceg
/src/sources/internal_logs.rs @bruceg
/src/sources/journald.rs @bruceg
/src/sources/mongodb_metrics/ @fanatid
/src/sources/nginx/ @fanatid
/src/sources/prometheus @bruceg
/src/sources/stdin.rs @bruceg
/src/sources/syslog.rs @lukesteensen
/src/sources/tcp.rs @bruceg
/src/sources/udp.rs @bruceg
/src/sources/vector.rs @lukesteensen
/src/sources/util/multiline_config.rs @MOZGIII @JeanMertz
/src/sources/kubernetes_logs/ @vector-kubernetes
/src/sources/splunk_hec.rs @ktff

/src/topology/ @lukesteensen

/src/transforms/add_tags.rs @lukesteensen
/src/transforms/ansi_stripper.rs @JeanMertz
/src/transforms/aws_cloudwatch_logs_subscription_parser.rs @jszwedko
/src/transforms/coercer.rs @bruceg
/src/transforms/filter.rs @bruceg
/src/transforms/field_filter.rs @lukesteensen
/src/transforms/geoip.rs @lukesteensen
/src/transforms/grok_parser.rs @lukesteensen
/src/transforms/key_value_parser.rs @Nick011 @bruceg
/src/transforms/log_to_metric.rs @lukesteensen
/src/transforms/merge.rs @MOZGIII
/src/transforms/regex_parser.rs @lukesteensen
/src/transforms/remap.rs @JeanMertz @FungusHumungus
/src/transforms/remove_tags.rs @lukesteensen
/src/transforms/sampler.rs @lukesteensen
/src/transforms/split.rs @lukesteensen
/src/transforms/tokenzier.rs @lukesteensen

/src/wasm/ @hoverbear @JeanMertz

/tests/buffering.rs @MOZGIII
/tests/data/wasm/ @hoverbear @JeanMertz
/tests/shutdown.rs @ktff
/tests/cli.rs @ktff

/.github/semantic* @binarylogic @jamtur01
/.github/SUPPORT.md @binarylogic @jamtur01
/.github/PULL_REQUEST_TEMPLATE.md @binarylogic @jamtur01
/.github/ISSUE_TEMPLATE/ @binarylogic @jamtur01
/.github/workflows/k8s_e2e.yml @vector-kubernetes
/.github/workflows/ @jamtur01
