Repository titaneric/vector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vectordotdev/ux-team, @vectordotdev/vector, @vectordotdev/documentation

.github/CODEOWNERS:

docs/ @vectordotdev/ux-team
lib/dnsmsg-parser/ @vectordotdev/vector
lib/file-source/ @vectordotdev/vector
lib/k8s-e2e-tests/ @vectordotdev/vector
lib/k8s-test-framework/ @vectordotdev/vector
lib/opentelemetry-proto/ @vectordotdev/vector
lib/vector-common/ @vectordotdev/vector
lib/vector-config/ @vectordotdev/vector
lib/vector-config-common/ @vectordotdev/vector
lib/vector-config-macros/ @vectordotdev/vector
lib/vector-core/ @vectordotdev/vector
lib/vector-vrl-functions/ @vectordotdev/vector
lib/vrl/ @vectordotdev/vector
src/config/ @vectordotdev/vector
src/internal_telemetry/ @vectordotdev/vector
src/sinks/ @vectordotdev/vector
src/sinks/amqp/ @vectordotdev/vector
src/sinks/appsignal/ @vectordotdev/vector
src/sinks/aws_cloudwatch_logs/ @vectordotdev/vector
src/sinks/aws_cloudwatch_metrics/ @vectordotdev/vector
src/sinks/aws_kinesis/ @vectordotdev/vector # sink_aws_kinesis_firehose,sink_aws_kinesis_stream
src/sinks/aws_s3/ @vectordotdev/vector
src/sinks/aws_sqs/ @vectordotdev/vector
src/sinks/axiom.rs @vectordotdev/vector
src/sinks/azure_blob/ @vectordotdev/vector
src/sinks/azure_monitor_logs.rs @vectordotdev/vector
src/sinks/blackhole/ @vectordotdev/vector
src/sinks/clickhouse/ @vectordotdev/vector
src/sinks/console/ @vectordotdev/vector
src/sinks/databend/ @vectordotdev/vector
src/sinks/datadog_events/ @vectordotdev/vector
src/sinks/datadog_logs/ @vectordotdev/vector
src/sinks/datadog_metrics/ @vectordotdev/vector
src/sinks/datadog_traces/ @vectordotdev/vector
src/sinks/elasticsearch/ @vectordotdev/vector
src/sinks/file/ @vectordotdev/vector
src/sinks/gcp/ @vectordotdev/vector # sink_gcp_chronicle_unstructured,sink_gcp_cloud_storage,sink_gcp_pubsub,sink_gcp_stackdriver_logs,sink_gcp_stackdriver_metrics
src/sinks/honeycomb.rs @vectordotdev/vector
src/sinks/http.rs @vectordotdev/vector
src/sinks/humio/ @vectordotdev/vector # sink_humio_logs,sink_humio_metrics
src/sinks/influxdb/ @vectordotdev/vector # sink_influxdb_logs,sink_influxdb_metrics
src/sinks/kafka/ @vectordotdev/vector
src/sinks/logdna.rs @vectordotdev/vector
src/sinks/loki/ @vectordotdev/vector
src/sinks/nats.rs @vectordotdev/vector
src/sinks/new_relic/ @vectordotdev/vector # sink_newrelix,sink_newrelic_logs
src/sinks/papertrail.rs @vectordotdev/vector
src/sinks/prometheus/ @vectordotdev/vector # sink_prometheus_exporter,sink_prometheus_remote_write
src/sinks/pulsar.rs @vectordotdev/vector
src/sinks/redis.rs @vectordotdev/vector
src/sinks/sematext/ @vectordotdev/vector # sink_sematext_logs,sink_sematext_metrics
src/sinks/socket.rs @vectordotdev/vector
src/sinks/splunk_hec/ @vectordotdev/vector # sink_splunk_hec_logs,sink_splunk_hec_metrics
src/sinks/statsd.rs @vectordotdev/vector
src/sinks/vector/ @vectordotdev/vector
src/sinks/websocket/ @vectordotdev/vector
src/source_sender/ @vectordotdev/vector
src/sources/ @vectordotdev/vector
src/sources/amqp.rs @vectordotdev/vector
src/sources/apache_metrics/ @vectordotdev/vector
src/sources/aws_ecs_metrics/ @vectordotdev/vector
src/sources/aws_kinesis_firehose/ @vectordotdev/vector
src/sources/aws_s3/ @vectordotdev/vector
src/sources/aws_sqs/ @vectordotdev/vector
src/sources/datadog_agent/ @vectordotdev/vector
src/sources/demo_logs.rs @vectordotdev/vector
src/sources/dnstap/ @vectordotdev/vector
src/sources/docker_logs/ @vectordotdev/vector
src/sources/eventstoredb_metrics/ @vectordotdev/vector
src/sources/exec/ @vectordotdev/vector
src/sources/file.rs @vectordotdev/vector
src/sources/file_descriptors/ @vectordotdev/vector # source_file_descriptor,source_stdin
src/sources/fluent/ @vectordotdev/vector
src/sources/gcp_pubsub.rs @vectordotdev/vector
src/sources/heroku_logs.rs @vectordotdev/vector
src/sources/host_metrics/ @vectordotdev/vector
src/sources/http_client/ @vectordotdev/vector
src/sources/http_server.rs @vectordotdev/vector
src/sources/internal_logs.rs @vectordotdev/vector
src/sources/internal_metrics.rs @vectordotdev/vector
src/sources/journald.rs @vectordotdev/vector
src/sources/kafka.rs @vectordotdev/vector
src/sources/kubernetes_logs/ @vectordotdev/vector
src/sources/logstash.rs @vectordotdev/vector
src/sources/mongodb_metrics/ @vectordotdev/vector
src/sources/nats.rs @vectordotdev/vector
src/sources/nginx_metrics/ @vectordotdev/vector
src/sources/opentelemetry/ @vectordotdev/vector
src/sources/postgresql_metrics.rs @vectordotdev/vector
src/sources/prometheus/ @vectordotdev/vector # source_prometheus_remote_write,source_prometheus_scrape
src/sources/redis/ @vectordotdev/vector
src/sources/socket/ @vectordotdev/vector
src/sources/splunk_hec/ @vectordotdev/vector
src/sources/statsd/ @vectordotdev/vector
src/sources/syslog.rs @vectordotdev/vector
src/sources/vector/ @vectordotdev/vector
src/test_util/ @vectordotdev/vector
src/topology/ @vectordotdev/vector
src/transforms/ @vectordotdev/vector
website/ @vectordotdev/ux-team @vectordotdev/documentation

docs(vrl): Correct documentation of algorithms supported by `decrypt` (#20658)
  website/cue/reference/remap/functions/decrypt.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

feat(#19183): make Chronicle namespace a templateable field (#20579)
  changelog.d/19183_templateable_chronicle_namespace.enhancement.md
  src/sinks/gcp_chronicle/chronicle_unstructured.rs
  src/sinks/gcp_chronicle/mod.rs
  src/sinks/gcp_chronicle/partitioner.rs
  src/sinks/gcp_chronicle/sink.rs
  website/cue/reference/components/sinks/base/gcp_chronicle_unstructured.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

chore(deps): Ensure prometheus::remote_write::Errors is appropriately gated (#20657)
  src/sinks/prometheus/remote_write/mod.rs
Owners: @vectordotdev/vector

fix(website): Update action for previews (#20661)
  .github/workflows/create_preview_sites.yml
  .github/workflows/preview_site_trigger.yml
Owners: none

chore(ci): Update minikube to v1.33.1 (#20672)
  .github/workflows/k8s_e2e.yml
Owners: none

chore(deps): Bump Alpine Linux base image to 3.20 (#20668)
  changelog.d/alpine-update.enhancement.md
  distribution/docker/alpine/Dockerfile
  distribution/docker/distroless-static/Dockerfile
Owners: none

chore(ci): Bump timeout for publishing new environment (#20646)
  .github/workflows/environment.yml
Owners: none

docs(vrl): add docs for `psl` argument for `parse_etld` (#20542)
  .github/actions/spelling/allow.txt
  lib/vector-vrl/tests/resources/public_suffix_list.dat
  website/cue/reference/remap/functions/parse_etld.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

enhancement(reduce transform): New setting for reduce transform: end_every_period_ms (#20440)
  changelog.d/reduce_end_every_period.feature.md
  lib/vector-config/src/external/serde_with.rs
  src/transforms/reduce/config.rs
  src/transforms/reduce/transform.rs
  website/cue/reference/components/transforms/base/reduce.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

chore(deps): Bump Rust version to 1.79 (#20670)
  Tiltfile
  lib/file-source/src/metadata_ext.rs
  lib/vector-buffers/src/variants/disk_v2/record.rs
  lib/vector-buffers/src/variants/disk_v2/tests/mod.rs
  lib/vector-buffers/src/variants/disk_v2/tests/size_limits.rs
  lib/vector-config-common/src/validation.rs
  lib/vector-config-macros/src/ast/container.rs
  lib/vector-stream/src/partitioned_batcher.rs
  rust-toolchain.toml
  src/api/schema/components/mod.rs
  src/sinks/elasticsearch/retry.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/greptimedb/service.rs
  src/sinks/splunk_hec/logs/config.rs
  src/sinks/splunk_hec/logs/sink.rs
  src/sinks/splunk_hec/metrics/config.rs
  src/sinks/splunk_hec/metrics/sink.rs
  src/sinks/util/batch.rs
  src/sinks/util/retries.rs
  src/sinks/util/service.rs
  src/sources/fluent/message.rs
  src/sources/journald.rs
  src/sources/kubernetes_logs/lifecycle.rs
  src/sources/logstash.rs
  src/sources/mongodb_metrics/types.rs
  src/sources/prometheus/parser.rs
  src/top/metrics.rs
Owners: @vectordotdev/vector

chore(deps): Bump cue to 0.9.1 (#20666)
  cue.mod/module.cue
  scripts/environment/bootstrap-ubuntu-20.04.sh
Owners: none

chore(releasing): Prepare v0.39.0 release
  .github/actions/spelling/expect.txt
  Cargo.lock
  Cargo.toml
  changelog.d/10465_kafka_sink_healthcheck_topic.enhancement.md
  changelog.d/19183_templateable_chronicle_namespace.enhancement.md
  changelog.d/19962_prometheus_exporter_compression.enhancement.md
  changelog.d/20384_pretty_json_config.enhancement.md
  changelog.d/4221_host_key_http_source.enhancement.md
  changelog.d/alpine-update.enhancement.md
  changelog.d/cache-remap-compilation.enhancement.md
  changelog.d/datadog-api-endpoint.fix.md
  changelog.d/kafka-source-ack-leak.fix.md
  changelog.d/kafka-source-parse_message.feature.md
  changelog.d/loki-sink-default-out-of-order-action-accept.breaking.md
  changelog.d/opentelemetry_trace.feature.md
  changelog.d/reduce_end_every_period.feature.md
  changelog.d/remove-enterprise-feature.breaking.md
  distribution/install.sh
  website/content/en/highlights/2024-06-17-0-39-0-upgrade-guide.md
  website/content/en/releases/0.39.0.md
  website/cue/reference/administration/interfaces/kubectl.cue
  website/cue/reference/releases/0.39.0.cue
  website/cue/reference/versions.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(ci): Bump Ruby to v3
  scripts/environment/bootstrap-macos-10.sh
Owners: none

chore(elasticsearch): make multiple modules public (#20683)
  src/sinks/elasticsearch/mod.rs
  src/sinks/util/uri.rs
Owners: @vectordotdev/vector

chore(releasing): Bump k8s manifests to v0.34.0 of the chart (#20686)
  distribution/kubernetes/vector-agent/README.md
  distribution/kubernetes/vector-agent/configmap.yaml
  distribution/kubernetes/vector-agent/daemonset.yaml
  distribution/kubernetes/vector-agent/rbac.yaml
  distribution/kubernetes/vector-agent/service-headless.yaml
  distribution/kubernetes/vector-agent/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/README.md
  distribution/kubernetes/vector-aggregator/configmap.yaml
  distribution/kubernetes/vector-aggregator/service-headless.yaml
  distribution/kubernetes/vector-aggregator/service.yaml
  distribution/kubernetes/vector-aggregator/serviceaccount.yaml
  distribution/kubernetes/vector-aggregator/statefulset.yaml
  distribution/kubernetes/vector-stateless-aggregator/README.md
  distribution/kubernetes/vector-stateless-aggregator/configmap.yaml
  distribution/kubernetes/vector-stateless-aggregator/deployment.yaml
  distribution/kubernetes/vector-stateless-aggregator/service-headless.yaml
  distribution/kubernetes/vector-stateless-aggregator/service.yaml
  distribution/kubernetes/vector-stateless-aggregator/serviceaccount.yaml
Owners: none

chore(ci): Remove reference to the deleted workload checks workflow (#20734)
  .github/workflows/comment-trigger.yml
Owners: none

chore(ci): Restrict comment trigger workflow to repository (#20736)
  .github/workflows/comment-trigger.yml
Owners: none

chore(ci): Validate PR author instead of repository (#20741)
  .github/workflows/comment-trigger.yml
Owners: none

chore(ci): Correct username fetching in comment trigger
  .github/workflows/comment-trigger.yml
Owners: none

chore(ci): Restrict integration comment workflow to PRs from maintainers (#20743)
  .github/workflows/integration-comment.yml
Owners: none

fix(kafka source): consumer subscribe in main kafka source task (#20698)
  changelog.d/20687-kafka_source_validate_deadlock.fix.md
  src/sources/kafka.rs
Owners: @vectordotdev/vector

enhancement(demo_logs source): Add `host` to emitted logs (#20754)
  changelog.d/demo_logs_host.enhancement.md
  src/sources/demo_logs.rs
Owners: @vectordotdev/vector

chore(releasing)!: Update the base image used for x86_64 artifacts to Ubuntu 16.04 (#20765)
  changelog.d/update-x86-64-cross-base.breaking.md
  scripts/cross/bootstrap-centos.sh
  scripts/cross/entrypoint-centos.sh
  scripts/cross/x86_64-unknown-linux-gnu.dockerfile
Owners: none

fix(GcpAuthenticator): Improve token regeneration (#20574)
  changelog.d/19614_gcp_token_regeneration.enhancement.md
  src/gcp.rs
Owners: none

chore(releasing): Clarify the removal of the `enterprise` configuration in 0.39.0 (#20772)
  website/content/en/highlights/2024-06-17-0-39-0-upgrade-guide.md
  website/cue/reference/releases/0.39.0.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(dev): Add a note to CONTRIBUTING.md about running clippy (#20775)
  CONTRIBUTING.md
Owners: none

enhancement(datadog_agent source): enable zstd decompression (#20732)
  changelog.d/20732_datadog_agent_zstd.enhancement.md
  scripts/integration/datadog-agent/compose.yaml
  src/sources/datadog_agent/mod.rs
Owners: @vectordotdev/vector

Add trailing slash to aws endpoint examples (#20774)
  website/cue/reference/components/aws.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(ci): Revert "Add trailing slash to aws endpoint examples" (#20791)
  website/cue/reference/components/aws.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_logs.cue
  website/cue/reference/components/sinks/base/aws_cloudwatch_metrics.cue
  website/cue/reference/components/sinks/base/aws_kinesis_firehose.cue
  website/cue/reference/components/sinks/base/aws_kinesis_streams.cue
  website/cue/reference/components/sinks/base/aws_s3.cue
  website/cue/reference/components/sinks/base/aws_sns.cue
  website/cue/reference/components/sinks/base/aws_sqs.cue
  website/cue/reference/components/sinks/base/elasticsearch.cue
  website/cue/reference/components/sinks/base/prometheus_remote_write.cue
  website/cue/reference/components/sources/base/aws_s3.cue
  website/cue/reference/components/sources/base/aws_sqs.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

fix(aws_kinesis sink): fix batching of requests #20575 #1407 (#20653)
  changelog.d/20575_kinesis_batching.fix.md
  src/sinks/aws_kinesis/sink.rs
Owners: @vectordotdev/vector

feat(statsd source): add option to disable key sanitization (#20717)
  changelog.d/20595-statsd_source_key_sanitization.enhancement.md
  src/sinks/statsd/encoder.rs
  src/sources/statsd/mod.rs
  src/sources/statsd/parser.rs
  src/sources/statsd/unix.rs
  website/cue/reference/components/sources/base/statsd.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

enhancement(AWS config): Make SQS client timeout settings configurable (#20120)
  changelog.d/20017_make_sqs_timeout_settings_configurable.enhancement.md
  src/aws/mod.rs
  src/aws/timeout.rs
  src/secrets/aws_secrets_manager.rs
  src/sinks/aws_cloudwatch_logs/config.rs
  src/sinks/aws_cloudwatch_logs/integration_tests.rs
  src/sinks/aws_cloudwatch_metrics/mod.rs
  src/sinks/aws_kinesis/firehose/config.rs
  src/sinks/aws_kinesis/firehose/integration_tests.rs
  src/sinks/aws_kinesis/streams/config.rs
  src/sinks/aws_kinesis/streams/integration_tests.rs
  src/sinks/aws_s3/integration_tests.rs
  src/sinks/aws_s_s/sns/config.rs
  src/sinks/aws_s_s/sns/integration_tests.rs
  src/sinks/aws_s_s/sqs/config.rs
  src/sinks/aws_s_s/sqs/integration_tests.rs
  src/sinks/s3_common/config.rs
  src/sources/aws_s3/mod.rs
  src/sources/aws_s3/sqs.rs
  src/sources/aws_sqs/config.rs
  website/cue/reference/components/sources/base/aws_s3.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

fix(gcs): replace // with / when merging base url and object key (#20810)
  src/sinks/gcs_common/service.rs
Owners: @vectordotdev/vector

chore(docs): Fix link to unit tests (#20819)
  website/cue/reference/urls.cue
Owners: @vectordotdev/ux-team, @vectordotdev/documentation

chore(ci): Use NodeJS v16 for package verification workflows (#20818)
  .github/workflows/publish.yml
Owners: none

chore(ci): Mark file_to_blackhole soak as erratic (#20822)
  regression/cases/file_to_blackhole/experiment.yaml
Owners: none

chore(deps): bump VRL to 0.16.1 (#20821)
  Cargo.lock
  Cargo.toml
Owners: none

chore: Increases default warmup duration for Regression Detector jobs (#20828)
  .github/workflows/regression.yml
Owners: none

fix(reduce): reduce values for nested fields (#20800)
  changelog.d/20800_reduce_nested_fields.breaking.md
  lib/vector-core/src/event/log_event.rs
  lib/vector-core/src/event/util/log/all_fields.rs
  lib/vector-core/src/event/util/log/mod.rs
  src/transforms/reduce/config.rs
  src/transforms/reduce/merge_strategy.rs
  src/transforms/reduce/transform.rs
  tests/behavior/transforms/reduce.toml
  website/cue/reference/components/transforms/base/reduce.cue
Owners: @vectordotdev/vector, @vectordotdev/ux-team, @vectordotdev/documentation

chore: Adds a trailing newline escape for smp job submit (#20829)
  .github/workflows/regression.yml
Owners: none
