Repository titaneric/vector, changes with the labels that .github/labeler.yml gives for each.
All labels: domain: sources, domain: sinks, domain: transforms, domain: topology, domain: codecs, domain: core, domain: vrl, domain: ci, domain: releasing, domain: rfc, domain: external docs, ci-condition: integration tests enable

chore(aws_kinesis_firehose sink): rewrite the aws_kinesis_firehose sink in the new style #9825 (#9861)
  src/sinks/aws_kinesis_firehose.rs
  src/sinks/aws_kinesis_firehose/config.rs
  src/sinks/aws_kinesis_firehose/integration_tests.rs
  src/sinks/aws_kinesis_firehose/mod.rs
  src/sinks/aws_kinesis_firehose/request_builder.rs
  src/sinks/aws_kinesis_firehose/service.rs
  src/sinks/aws_kinesis_firehose/sink.rs
  src/sinks/aws_kinesis_firehose/tests.rs
  src/test_util/components.rs
  website/cue/reference/components/sinks/aws_kinesis_firehose.cue
Labels: domain: sinks, domain: external docs

enhancement(vrl): Add `tally_value` function (#9890)
  lib/vrl/stdlib/Cargo.toml
  lib/vrl/stdlib/benches/benches.rs
  lib/vrl/stdlib/src/lib.rs
  lib/vrl/stdlib/src/tally_value.rs
Labels: domain: vrl

chore(config, sources): Rework acknowledgement config (#9883)
  src/config/mod.rs
  src/sources/aws_kinesis_firehose/mod.rs
  src/sources/datadog/agent.rs
  src/sources/file.rs
  src/sources/heroku_logs.rs
  src/sources/http.rs
  src/sources/kafka.rs
  src/sources/socket/mod.rs
  src/sources/util/http/prelude.rs
  src/sources/vector/v1.rs
  src/sources/vector/v2.rs
  website/cue/reference/components.cue
  website/cue/reference/components/sources/aws_kinesis_firehose.cue
Labels: domain: sources, domain: external docs

enhancement(file sink): Add support for end-to-end acknowledgements (#9892)
  src/sinks/file/mod.rs
Labels: domain: sinks

chore: Analyze all captures at once (#9888)
  .github/workflows/soak.yml
  soaks/bin/analyze_experiment.sh
  soaks/bin/run_experiment.sh
  soaks/soak.sh
Labels: none

Auto-generate SEO titles for components (#9914)
  website/layouts/partials/meta.html
Labels: none

Revert "Remove more Actions from website changes (#9872)" (#9911)
  .github/workflows/environment.yml
  .github/workflows/integration-test.yml
  .github/workflows/k8s_e2e.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

chore(buffers): new `BufferSender<T>`/`BufferReceiver<T>` + buffer topology builder (#9915)
  Cargo.lock
  Cargo.toml
  lib/tracing-limit/Cargo.toml
  lib/vector-core/Cargo.toml
  lib/vector-core/buffers/Cargo.toml
  lib/vector-core/buffers/benches/common.rs
  lib/vector-core/buffers/benches/in_memory_v2.rs
  lib/vector-core/buffers/src/buffer_usage_data.rs
  lib/vector-core/buffers/src/lib.rs
  lib/vector-core/buffers/src/test/model/in_memory.rs
  lib/vector-core/buffers/src/test/model/mod.rs
  lib/vector-core/buffers/src/test/model/on_disk.rs
  lib/vector-core/buffers/src/topology/builder.rs
  lib/vector-core/buffers/src/topology/channel.rs
  lib/vector-core/buffers/src/topology/mod.rs
  lib/vector-core/buffers/src/topology/poll_sender.rs
  lib/vector-core/buffers/src/topology/strategy.rs
  lib/vector-core/buffers/src/topology/test_util.rs
  lib/vector-core/buffers/src/variant/in_memory_v2.rs
  lib/vector-core/buffers/src/variant/mod.rs
  lib/vrl/tests/Cargo.toml
Labels: domain: core, domain: vrl

chore: Add soak analysis as PR comment (#9925)
  .github/workflows/soak.yml
  .github/workflows/soak_observer.yml
  soaks/bin/analyze_experiment.sh
Labels: none

feat(vrl): Support DataDog grok parser - parsing DD grok rules (#8850)
  Cargo.lock
  lib/datadog/grok/Cargo.toml
  lib/datadog/grok/build.rs
  lib/datadog/grok/patterns/core
  lib/datadog/grok/src/grok_filter.rs
  lib/datadog/grok/src/lib.rs
  lib/datadog/grok/src/parse_grok.rs
  lib/datadog/grok/src/parse_grok_rules.rs
  lib/datadog/grok/src/parser.lalrpop
  lib/vrl/compiler/Cargo.toml
  lib/vrl/compiler/src/value.rs
Labels: domain: vrl

fix(external docs): Add missing environment variables to CLI docs (#9913)
  website/cue/reference.cue
  website/cue/reference/cli.cue
  website/cue/reference/components.cue
  website/cue/reference/urls.cue
  website/layouts/partials/data.html
  website/layouts/shortcodes/cli/commands.html
  website/layouts/shortcodes/cli/env-vars.html
Labels: domain: external docs

enhancement(journald source): Add support for end-to-end acknowledgements (#9893)
  lib/vector-core/src/event/finalization.rs
  src/sources/datadog/agent.rs
  src/sources/journald.rs
  src/sources/util/http/prelude.rs
  src/sources/vector/v2.rs
  website/cue/reference/components/sources/journald.cue
Labels: domain: sources, domain: core, domain: external docs

Do not soak documentation changes (#9937)
  .github/workflows/soak.yml
Labels: none

chore: Fix older vector soak builds (#9936)
  soaks/bin/build_container.sh
Labels: none

enhancement(observability): improve transform utilization metrics (#9828)
  src/topology/builder.rs
  src/utilization.rs
Labels: domain: topology

chore(internal docs): Replace index of soak tests (#9943)
  soaks/README.md
Labels: none

enhancement(journald source, observability): Implement component spec (#9637)
  docs/specs/component.md
  scripts/check-events
  src/internal_events/common.rs
  src/internal_events/journald.rs
  src/sources/journald.rs
  website/cue/reference/components/sources/journald.cue
Labels: domain: sources, domain: ci, domain: external docs

Correct more local-run soak problems (#9945)
  soaks/bin/run_experiment.sh
  soaks/soak.sh
Labels: none

chore(ci): Update how soak tests determine SHA (#9944)
  .github/workflows/soak.yml
Labels: none

feat(datadog_archives sink): add azure_blog_storage support (#9495)
  Cargo.toml
  src/internal_events/mod.rs
  src/sinks/azure_blob.rs
  src/sinks/azure_common/config.rs
  src/sinks/azure_common/mod.rs
  src/sinks/azure_common/service.rs
  src/sinks/azure_common/sink.rs
  src/sinks/datadog_archives.rs
  src/sinks/mod.rs
  src/sinks/util/service.rs
Labels: domain: sinks

fix(windows platform): call `Application::run` when running vector as a service on windows instead of manually handling the topology life cycle. (#9950)
  src/vector_windows.rs
Labels: none

docs: Fix VRL example on unit testing page (#9955)
  website/content/en/docs/reference/configuration/unit-tests.md
Labels: none

chore: Add Splunk HEC indexer acknowledgement RFC (#9863)
  rfcs/2021-10-29-9465-splunk-hec-indexer-acknowledgements.md
Labels: domain: rfc

Fix broken link in readme (#9963)
  README.md
Labels: none

chore: Allow CPU/memory targets to be set by user in soaks (#9962)
  .github/workflows/soak.yml
  soaks/bin/analyze_experiment.sh
  soaks/bin/boot_minikube.sh
  soaks/bin/run_experiment.sh
  soaks/bin/soak_one.sh
  soaks/common/terraform/modules/vector/main.tf
  soaks/common/terraform/modules/vector/variables.tf
  soaks/soak.sh
  soaks/tests/datadog_agent_remap_blackhole/terraform/main.tf
  soaks/tests/datadog_agent_remap_blackhole/terraform/variables.tf
  soaks/tests/datadog_agent_remap_datadog_logs/terraform/main.tf
  soaks/tests/datadog_agent_remap_datadog_logs/terraform/variables.tf
  soaks/tests/syslog_humio_logs/terraform/main.tf
  soaks/tests/syslog_humio_logs/terraform/variables.tf
  soaks/tests/syslog_log2metric_humio_metrics/terraform/main.tf
  soaks/tests/syslog_log2metric_humio_metrics/terraform/variables.tf
  soaks/tests/syslog_log2metric_splunk_hec_metrics/terraform/main.tf
  soaks/tests/syslog_log2metric_splunk_hec_metrics/terraform/variables.tf
  soaks/tests/syslog_loki/terraform/main.tf
  soaks/tests/syslog_loki/terraform/variables.tf
  soaks/tests/syslog_regex_logs2metric_ddmetrics/terraform/main.tf
  soaks/tests/syslog_regex_logs2metric_ddmetrics/terraform/variables.tf
  soaks/tests/syslog_splunk_hec_logs/terraform/main.tf
  soaks/tests/syslog_splunk_hec_logs/terraform/variables.tf
Labels: none

fix source_type_key merging (#9971)
  lib/vector-core/src/config/log_schema.rs
Labels: domain: core

fix(vrl): Fix naming of `compact`'s `object` argument (#9972)
  lib/vrl/stdlib/src/compact.rs
Labels: domain: vrl

chore(doc): fix some doc wording in pipelines transform (#9965)
  lib/vector-core/src/transform/config.rs
  src/transforms/pipelines/mod.rs
Labels: domain: transforms, domain: core

docs(prometheus_exporter sink): Update `flush_period_secs` docs (#9976)
  website/cue/reference/components/sinks/prometheus_exporter.cue
Labels: domain: external docs

chore: Introduce splunk_hec -> route -> s3 soak (#9942)
  .github/workflows/soak.yml
  soaks/common/terraform/modules/monitoring/observer.tf
  soaks/common/terraform/modules/vector/main.tf
  soaks/tests/splunk_hec_route_s3/README.md
  soaks/tests/splunk_hec_route_s3/terraform/http_blackhole.toml
  soaks/tests/splunk_hec_route_s3/terraform/http_gen.toml
  soaks/tests/splunk_hec_route_s3/terraform/main.tf
  soaks/tests/splunk_hec_route_s3/terraform/variables.tf
  soaks/tests/splunk_hec_route_s3/terraform/vector.toml
Labels: none

clear tmp directory before using (#9975)
  .github/workflows/soak.yml
Labels: none

Introduce new splunk -> transforms -> splunk|splunk|splunk soak (#9982)
  soaks/.gitignore
  soaks/tests/splunk_transforms_splunk3/README.md
  soaks/tests/splunk_transforms_splunk3/terraform/http_blackhole.toml
  soaks/tests/splunk_transforms_splunk3/terraform/http_gen.toml
  soaks/tests/splunk_transforms_splunk3/terraform/main.tf
  soaks/tests/splunk_transforms_splunk3/terraform/variables.tf
  soaks/tests/splunk_transforms_splunk3/terraform/vector.toml
Labels: none

fix(external docs): fix transform name in example config (#9988)
  website/content/en/docs/reference/configuration/_index.md
Labels: none

Introduce fluent -> remap -> firehose soak (#9995)
  soaks/tests/fluent_remap_aws_firehose/README.md
  soaks/tests/fluent_remap_aws_firehose/terraform/http_blackhole.toml
  soaks/tests/fluent_remap_aws_firehose/terraform/main.tf
  soaks/tests/fluent_remap_aws_firehose/terraform/tcp_gen.toml
  soaks/tests/fluent_remap_aws_firehose/terraform/variables.tf
  soaks/tests/fluent_remap_aws_firehose/terraform/vector.toml
Labels: none

feat(kubernetes_logs source): Use resource_version of 0 to use cache (#9974)
  src/kubernetes/reflector.rs
  src/kubernetes/resource_version.rs
Labels: none

Relax blackhole limits (#10002)
  soaks/common/terraform/modules/lading_http_blackhole/main.tf
  soaks/tests/datadog_agent_remap_datadog_logs/terraform/http_blackhole.toml
  soaks/tests/fluent_remap_aws_firehose/terraform/http_blackhole.toml
  soaks/tests/splunk_hec_route_s3/terraform/http_blackhole.toml
  soaks/tests/splunk_transforms_splunk3/terraform/http_blackhole.toml
  soaks/tests/syslog_humio_logs/terraform/http_blackhole.toml
  soaks/tests/syslog_log2metric_humio_metrics/terraform/http_blackhole.toml
  soaks/tests/syslog_log2metric_splunk_hec_metrics/terraform/http_blackhole.toml
  soaks/tests/syslog_loki/terraform/http_blackhole.toml
  soaks/tests/syslog_regex_logs2metric_ddmetrics/terraform/http_blackhole.toml
  soaks/tests/syslog_splunk_hec_logs/terraform/http_blackhole.toml
Labels: none

fix(ci): Fix soak test artifact uploading (#10008)
  .github/workflows/soak.yml
Labels: none

chore: Introduce fluent -> elasticsearch soak (#9997)
  soaks/common/terraform/modules/lading_http_blackhole/main.tf
  soaks/tests/fluent_elasticsearch/README.md
  soaks/tests/fluent_elasticsearch/terraform/http_blackhole.toml
  soaks/tests/fluent_elasticsearch/terraform/main.tf
  soaks/tests/fluent_elasticsearch/terraform/tcp_gen.toml
  soaks/tests/fluent_elasticsearch/terraform/variables.tf
  soaks/tests/fluent_elasticsearch/terraform/vector.toml
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings.
"domain: sources":
- src/sources/**/*

"domain: sinks":
- src/sinks/**/*

"domain: transforms":
- src/transforms/**/*

"domain: topology":
- src/topology/**/*

"domain: codecs":
- src/codecs/**/*

"domain: core":
- lib/vector-core/**/*

"domain: vrl":
- lib/vrl/**/*

"domain: ci":
- scripts/**/*

"domain: releasing":
- distribution/**/*
- scripts/package-*
- scripts/release-*

"domain: rfc":
- rfcs/**/*

"domain: external docs":
- website/cue/**/*

# Run integration tests when any files specifically related to integration tests are changed/
"ci-condition: integration tests enable":
- scripts/setup_integration/**/*
